body
	font-family bodyFont
	

// Heeader

.Header-container
	background rgba(#716b5c,1)
	height 80px
	
.Header-logo
	background url(../img/logoNav-small.png)
	background-repeat no-repeat
	background-position 0
	width 80px
	height 80px
	background-size: 80px 60px

.MainMenu-icon 
	font-size 2.5em
	display inline-block
	position absolute
	top 10px 
	right 15px
	
.icon-menu
	float right
	color white
	
.MainMenu-container
	background secundariDark
	text-align center
	padding 10px 0  
	margin 0

.MainMenu-option
	display inline-block
	width 100%
	padding 15px 0
	
.MainMenu-link
	color white
	text-decoration none
	font-weight 600
	

.MainMenu
.MainSection-message
	display none
	

// MainSection

.MainSection
	background url(../img/hero/home_small.jpg)
	background-repeat no-repeat
	background-position -400px top
	background-size cover
	padding 60px 0 80px 0
	
.MainSection-title
	display inline-block
	color white
	text-shadow 1px 1px 2px rgba(black,.5)
	margin 0
	padding 70px 0 40px 0
	font-size 1.68em
	line-height 1.4em
	
.MainSection-cta
	display inline-block
	

// NextEvent

.NextEvent
	background secundariLight
	padding 2em 0 
	overflow hidden

.NextEvent-date
	vertical-align top
	display inline-block
	width 15%
	text-align center
	padding 0 0 0 0 

.NextEvent-dateMonth
	font-size 1.3em

.NextEvent-dateDay
	font-size 2.75em
	font-weight 600
	line-height 1em
	
.NextEvent-content
	display inline-block
	padding 0 0 0 1em
	width 80%

.NextEvent-label
	background primari
	color white
	padding .2em .3em
	
.NextEvent-title
	font-size 1.125em
	line-height 1em
	margin .5em 0 .5em 0

.saberMas
	color primari
	font-weight 600

.NextEvent-detail
	padding 1em 0 0 0
	// display none


.NextEvent-description
	margin 0 








