

/*Utilities*/
.u-wrapper 
	margin 0 auto
	padding-right 15px
	padding-left 15px
	max-width 1000px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	position relative

/*Margenes generales*/

.NewSection
	padding-top 60px 
	padding-bottom 60px 
	
.First-IntraSection
	display block
	padding-top 20px
	padding-bottom 20px 

.IntraSection
	padding-bottom 30px

.Last-IntraSection
	padding-bottom 0px
	
.Section-title
	font-size 34px
	line-height 40px
	padding-bottom .3em
	font-weight 200
	letter-spacing 0px
	margin 0
	text-align left
		
.Secundary-title
	font-size 24px
	line-height 29px
	padding 0 0 24px 0
	font-weight 200
	letter-spacing 0px
	margin 0 

// Estilos generales

body
	font-family bodyFont
	color c_bodyFont
	font-weight 200
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	margin 0 
	
a
	color primari
	&:hover 
		color afic
		// text-decoration underline
		
a.buttonWhite
	&:visited
		color white

ul
li
p
	margin 0		

.commingSoon
	opacity .5

.link
	text-decoration underline
	color primari
	font-weight 600

.spanLink
	color primari
	font-weight 600
	display block
	width 140px
	line-height 18px
	text-decoration underline
	// &:after
	// 	font-family icomoon
	// 	content: "\e600";
	// 	position relative
	// 	font-size 20px
	// 	top 3px	
	&:hover
		color afic
		
.Mariposa-afic
	display none

// Heeader

.Header-container
	background rgba(#716b5c,1)
	height 80px

.Header-logo
	display inline-block
	position absolute
	top 3px
	left 15px
	padding 7px 0	
	coursor pointer 
	
.logoBig
	display none

.MainMenu-icon 
	font-size 2.5em
	display inline-block
	position absolute
	top 10px 
	right 15px
	
.icon-menu
	float 
	&:before
		color white
		font-family icomoon
	
.MainMenu-container
	background secundariDark
	text-align center
	padding 10px 0  
	margin 0

.MainMenu-option
	display inline-block
	width 100%
	padding 15px 0
	
.MainMenu-link
	color white
	text-decoration none
	font-weight 600
	font-size 16px
	display block

.MainMenu
.MainSection-message
	display none
	

// MainSection


.MainSection
	background url(../img/hero/home-small.jpg)
	background-repeat no-repeat
	background-position-x 87%
	background-position-y top
	background-size cover
	padding 60px 0 80px 0
	
.MainSection-title
	font-weight bold
	font-size 41px
	color white
	text-shadow 0 0 10px rgba(black,.3)
	padding 20px 0 0 0 

.MainSection-subTitle
	display inline-block
	color white
	font-weight 600
	text-shadow 0 0 10px rgba(black,.3)
	margin 0
	padding 0 0 40px 0
	font-size 21px
	line-height 28px
	
.MainSection-cta
	display inline-block
	
.Header-courseNone
	display none

// NextEvent

.NextEvent
	background #EFF2E6
	padding 30px 0  
	position relative

.NextEvent-right
	display inline-block
	margin 0 0 0 80px
	vertical-align top
	
.NextEvent-left
	display inline-block
	vertical-align top
	position absolute
	top -50px

	
.NextEvent-logo
	display inline-block
	position absolute
	top -10px

.NextEvent-label
	background #F9493A
	color white
	text-transform uppercase
	padding 3px 10px
	font-weight 600
	
.NextEvent-title
	font-size 21px
	color #4b5456
	font-weight 600
	line-height 21px
	padding 5px 0 0 0 


// Promo

.PromoCourse
	background #56caca
	text-align center
	position relative
	padding 30px 20px 40px 20px
	
.PromoCourse-img
	display none

.PromoCourse-copy
	display inline-block
	h3
		margin 0
		font-family bebas
		color white
		font-size 34px
		display block 
		margin 0 auto
		width 100%
		line-height 34px
		padding 10px 0
		border-top 2px solid rgba(white,.3)
		border-bottom 2px solid rgba(white,.3)
		span
			color c_bodyFont

.PromoCourse-save
	padding 0px 0 0 0 
	font-weight 700
	color white

.PromoCourse-ctaContainer
	padding 20px 0 0 0 
	
.PromoCourse-finish
	font-size 14px
	line-height 14px
	padding 15px 0 0 0
	color rgba(black,.5)
	width 200px
	display block
	margin 0 auto
	

// CourseBanner

.CourseBanner
	padding 30px 0 10px 0
	
.Main-CourseBanner
	padding 30px 0 10px 0

.CourseBanner-title
	font-size 24px
	text-align left
	letter-spacing -1px
	line-height 29px 
	font-weight 600
	margin 0 0 20px 0
	max-width 300px

.Main-CourseBanner-title
	font-size 2em
	text-align center
	letter-spacing -1px
	line-height 1.3em 
	font-weight 600
	margin 0 0 20px 0
	
.Main-CourseBanner-description
	text-align center
	margin 0 auto
	font-size 16px
	line-height 23px
	max-width 655px



// CourseNavigation
	
.CourseNavigation
	width 100%
	margin 0 auto
	display block
	padding 30px 0 10px 0

.CourseNavigation-container
	padding 0

.CourseNavigation-list
	margin 0 auto
	text-align center
	max-width 600px
	dd
		display inline-block
		margin 0 .5rem .5rem 0
		transition .1s
		-webkit-transition .1s
		-webkit-filter: brightness(1);
		&:hover
			-webkit-filter: brightness(1.2);
		a
			color white
			&:hover
				color white

.CourseList-courseLabel
	display inline-block
	border-radius 3px
	font-size 0.875rem
	background primari
	color white
	font-weight 700
	padding .1em .5em
	margin-bottom 5px
	a
		&:hover
			text-decoration none

.c_quiromasaje
	background primari
.c-naturopatia
	background c_naturopatia
.c_tecnicasOrientales
	background c_tecnicasOrientales
.c_crecimiento
	background c_crecimiento
.c_drenaje
	background c_drenaje
.c_ayurveda
	background c_ayurveda
.c_flores
	background c_flores
.c_aromaterapia
	background c_aromaterapia
.c_tecnicasVibracionales
	background c_tecnicasVibracionales
.c_kinesiologia
	background c_kinesiologia
.c_reflexologia
	background c_reflexologia
.c_otros
	background afic



// CourseList

.course-conteiner
	padding-top 40px
	padding-bottom 40px

.course
	border-bottom 1px solid rgba(black,.3)
	margin-bottom 40px
	&:last-child 
		margin-bottom 0

.allcourse-link
	position absolute
	top 0
	right 0
	bottom 0
	left 0

.module-mainCourse
	display flex
	
.module-logo
	padding-right 20px
	
.course-logo
	width 65px
	height auto

.module-detail
	.course-title
		font-weight 600
		font-size 1.315em
	.course-link
		display block
		text-decoration underline
		font-weight 600
		padding-bottom 50px
		

// Mailchimp

.Newsletter-formContainer
	display block
	margin 0 auto

.Mailchimp
	background secundariLight

.Newsletter-form
	padding-top 30px

.Newsletter-formTitle
	display block
	max-width 100%
	text-align center
	font-size 21px
	line-height 26px
	font-weight 200
	padding 10px 30px 20px 30px

.Newsletter-inputs
	input
		width 100%

.Newsletter-cta
	margin 20px 0 50px 0

#mc_embed_signup input
	border none



// Footer

.Footer
	background secundariDark
	padding 30px 0 420px 0px
	color white
	text-align center
	// margin-bottom -2px
	
.Footer-columnSmall
	display inline-block
	width 100%
	font-weight 600
	border-bottom 1px solid rgba(white,.1)
	padding 0 0 30px 0
	
.Footer-columnBig
	margin 30px 0 0 0
	display inline-block
	width 100%
	text-align left

.Footer-contactInfo
	display block
	max-width 270px
	text-align left
	margin 0 0 0 0 
	line-height 8px
	p
		font-weight 400
		margin 0 0 0 30px
	a
		color white
	&:before
		position relative
		top 18px
		margin 0 
		font-size 20px

.Footer-info
	display block
	margin 7px 0 0 30px
	font-weight 400
	&:hover
		color primari

.Footer-infoDown
	margin 10px 0 0 0

.Footer-nav
	margin 10px 0 0 0 

.Footer-navList
	text-align left
	padding 15px 0 0 15px
	margin 0 0 0 0 

.Footer-navLink
	display block
	margin 0 0 0 0 
	padding 5px 0 0 0 
	display list-item
	&:first-child
		margin 0
	a
		color white
		font-size 1rem
		text-decoration underline
		&:hover
			color afic

.Footer-logo
	display inline-block

.Footer-extraInfo
	text-align left
	margin 15px 0
	max-width 400px
	p
		font-weight 400
		font-size 16px
		line-height 23px
		strong
			display block
			font-size 16px
			line-height 25px
			// margin 15px 0 5px 0 

.Footer-cta
	display inline-block
	margin 20px 0 5px 0  
	width 100%

.Footer-network
	display inline-block

.Footer-networkTitle
	margin 1em 0 0 0 
	display inline-block
	h4
		display inline-block
		color white
		font-weight 600
		border-right 1px solid white
		padding 0 1em 0 0 
		font-size 1.125rem

.Footer-networkList
	display inline-block

.Footer-networkLink
	display inline-block
	font-size 20px
	color white
	vertical-align middle
	padding 0 0 0 10px

	

// Course page =======================================

.Course-mainSection
	background-size cover
	padding 30px 0 40px 0
	
	color white
	text-shadow 1px 1px 1px rgba(black,.1)

.naturopatiaHero
	background url(../img/hero/naturopatia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.quiromasajePresencialHero
	background url(../img/hero/quiromasaje-presencial-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.vendajeHero
	background url(../img/hero/vendaje-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top
	
.agujasHero
	background url(../img/hero/agujas-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x 60%
	background-position-y top

.cyriaxHero
	background url(../img/hero/cyriax-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x 70%
	background-position-y top	

.pindasHero
	background url(../img/hero/pindas-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top	

.piedrascalientesHero
	background url(../img/hero/piedras-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom

.champiHero
	background url(../img/hero/champi-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom

.reflexologiaHero
	background url(../img/hero/reflexologia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom
	
.auriculoterapiaHero
	background url(../img/hero/auriculoterapia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center

.kinesiologiaHero
	background url(../img/hero/kinesiologia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom
	
.tfhHero
	background url(../img/hero/tfh-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom
	
.kinergeticsResetHero
	background url(../img/hero/kinergeticsReset-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom

.drenajeLinfaticoHero
	background url(../img/hero/drenaje-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.shiatsufacialHero
	background url(../img/hero/shiatsuFacial-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center

.ampukuHero
	background url(../img/hero/ampuku-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x 10%
	background-position-y center
	
.ammaHero
	background url(../img/hero/amma-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.moxibustionHero
	background url(../img/hero/moxibustion-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 30%
	
.estiramientosthaiHero
	background url(../img/hero/estiramientosthai-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center
	
.reikiHero
	background url(../img/hero/reiki-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y middle

.registrosakashicosHero
	background url(../img/hero/registrosakAshicos-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom
	
.aromaterapiaHero
	background url(../img/hero/aromaterapia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center
	
.cosmeticaHero
	background url(../img/hero/cosmeticaNatural-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom
	
.floresHero
	background url(../img/hero/floresBach-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom

.osteopatiaHero
	background url(../img/hero/osteopatia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center

.osteopatia-estructuralHero
	background url(../img/hero/osteopatia-estructural-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y bottom

.osteopatia-sacrocranealHero
	background url(../img/hero/osteopatia-sacrocraneal-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center
	
.osteopatia-visceralHero
	background url(../img/hero/osteopatia-visceral-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top


// =============================

.Course-mainSectionLeft
	width 70px
	float left

.Course-logo
	width 70px
	height 70px
	
.Course-mainSectionDetail
	margin 0 0 0 80px
	text-shadow 0 0 10px rgba(black,.3)
	
.Title-A
	display block
	color white
	font-size 27px
	font-weight bold
	line-height 34px
	max-width 600px
	
.Course-detail
	display block
	font-size 16px
	line-height 21px
	margin 5px 0 15px 0
	max-width 550px
	text-shadow 0 0 10px rgba(black,.5)
	
.Course-mainSectionCTA
	margin 0 0 0 80px


// CourseDetails

.CourseDetails
	background secundariLight
	padding 30px 0 60px 0
	
.CourseDetails-item
	margin 5px 0 0 0

.CourseDetails-container
	display inline-block
	vertical-align top
	width 100%	
	// padding 0 0 30px 0 

.CourseDetails-title
	font-family bodyFont
	color rgba(black,.6)
	font-size 16px
	font-style italic
	letter-spacing 0px
	margin 0

.CourseDetails-content
	display inline-block
	font-family bebas
	font-size 41px
	letter-spacing -2px
	line-height 35px
	margin 0
	width 100%
	span
		font-family bodyFont
		font-size 27px
		font-weight bold
		a
			color c_bodyFont
			coursor default
				
.certificate
	font-size 14px
	line-height 16px
	font-weight 200
	text-align left
	padding 5px 0 0 0 
	max-width 200px
	a
		text-decoration underline

.CourseDetails-idealFor
	display inline-block
	padding 0 
	vertical-align top
	width 100%
	
.idealFor-title
	color afic
	font-family bebas
	font-size 24px
	letter-spacing 0px
	margin 0
	padding 0 0 5px 0
	
.idealFor-detail
	font-size 16px
	line-height 21px
	margin 0



// acercaDe page =======================================


// MainSection

.Team
	padding 30px 0 50px 0

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 100px 0
	
.Team-mainTitle
	font-size 41px
	line-height 45px
	text-align center
	font-weight bold

.acercaTitle
	font-size 41px
	text-align center

.Team-section
	padding 

.Team-title
	font-size 28px
	text-align center
	line-height 33px
	font-weight 600
	font-weight bold
	margin 0 0 20px 0
	
.Team-sectionTitle
	font-size 21px
	text-align center
	line-height 28px
	font-weight bold
	margin 0 0 20px 0
	
.Team-sectionDescription
	font-size 16px
	line-height 23px
	text-align left
	
.Welcome-content
	font-size 16px
	font-weight 600


// Learn

// .Learn
// 	padding-bottom 60px

// .LearnShort
// 	padding-bottom 0

.List-item
	list-style-type normal
	text-align left
	p
		margin 0
		font-size 16px
		line-height 23px
		margin 0 0 .3rem 0
	&:before
		float left
	
.Learn-list
	padding 0 1em 1em 1em

.Learn-listContainer
	display inline-block 
	width 100%
	
.Learn-recomended
	display inline-block 
	width 100%
	
.Learn-recomendedItem
	font-size 14px
	display block
	// margin 0 0 10px 0
	list-style-type none
	// padding-bottom 30px
	height 90px

.Learn-recomendedItem--last
	height 60px
	
.Learn-recomendedTitle
	margin 0 0 5px 0
	
.CourseList-courseRecomended
	padding 0 0 10px 0
	min-height 80px
	border-bottom none

.Learn-MustDo
	padding-bottom 10px

.MustDo
	// background #e9e7e3	
	padding-top 0
	padding-bottom 50px
	
.MustDo-copy
	display inline-block
	width 100%
	padding-bottom 10px
		
.MustDo-title
	font-weight 200
	font-size 24px
	line-height 29px
	padding-bottom .5em
	padding-top 60px
	margin 0
	border-top border
	
.MustDo-logo
	display inline-block
	width 100%
	padding-top 10px
	// padding-bottom 30px
	.CourseList-course
		padding-bottom 0
	
.MustDo-arrow
	transform rotate(180deg)
	-ms-transform rotate(180deg)
	-webkit-transform rotate(180deg)
	text-align right
	&:after
		
		content '\f062'
		font-family icomoon
		font-size 51px

.Learn-list
	max-width 600px

.Learn-imgQuiroPresencial	
	display none
	// background url(../img/quiromasaje_presencial_img1_small.jpg)
	// background-repeat no-repeat
	// background-position-x 50% 
	// background-position-y 0
	// background-size 100%
	// width 90%
	// height 180px
	// position relative
	// top 40px
	// display block
	// margin 0 auto

.Learn-imgNaturopatia
	display none
	// background url(../img/naturopatia2.png)
	// background-repeat no-repeat
	// background-position-x 50% 
	// background-position-y 0
	// background-size 100%
	// width 100%
	// height 240px
	// position relative
	// top 30px
	// display block
	// margin 0 auto


// Index

.Index
	background secundariLight
	padding-bottom 10px
	text-align center
	
.Index-img
	padding-top 30px
	display inline-block
	img
		width 70%
		max-width 400px
		
.Naturopatia-primero
.Naturopatia-segundo
.Naturopatia-tercero
	display none	
		
.Index-listToggle
	// background secundariLight
	font-size 21px 
	font-weight 600
	letter-spacing -1px
	margin 0 0 10px 0
	padding 10px 0 10px 10px
	position relative
	span
		font-size 18px
		padding 0 0 0 15px
		
.Index-list
	padding-right 20px
	padding-left 20px
	// display none
	ul > li
		list-style-type circle
	
	li
		color terciaFuente
		font-size 14px
		line-height 21px
		padding 2px 10px 2px 0
		color mediaFuente
		// border-bottom border
	
.Index-intraList
	padding 0 0 0 15px
	list-style-type disc 

.Index-listToggleIcon
	position absolute
	right 40px
	font-size 21px
	top 10px

.Index-listToggleIconBook
	&:after
		font-family icomoon
		content "\e920"
		border-right 1px solid
		padding 0 10px 0 0 
		
.Index-listToggleIconArrow
	transform: rotate(90deg)
	-webkit-transform: rotate(90deg)
	-ms-transform: rotate(90deg)
	position relative
	top -27px
	right -35px
	&:before
		font-family icomoon
		content "\e600"
		line-height 24px
		
.ListOne-toggle
	color #88b035
	span
		color #88b035
		
.ListTwo-toggle
	color #378b37
	span
		color #378b37
		
.ListThree-toggle
	color #12767a
	span
		color #12767a
		
.index-item
	display block
	

// Teachers

.Teachers
	text-align center
	background secundariLight

.Teacher
	box-shadow 0 0 5px rgba(black,.5)
	width 200px
	height auto
	background white
	border-radius 5px
	display inline-block
	margin 0 0 20px 0

.Teacher-name
	font-weight bold
	font-size 21px
	margin 0
	padding 10px 0 5px 0 
	
.Teacher-designation
	margin 0 
	font-size 14px
	line-height 18px
	padding 0 5px 20px 5px


// Details

.Details
	background secundariLight
	padding-bottom 0

.Section-description
	text-align left
	font-weight 200
	font-size 16px 
	line-height 21px
	color terciaFuente
	
.Section-titleDetails
	padding-bottom 5px

.Section-titleDetails--solo
	padding-bottom 30px

.Section-titleDetailsSolo
	padding-bottom 30px

.Details-content
	// border-top border
	background white
	
.tabs-content > .content
	padding-top 0
	padding-bottom 0
	
.tabs-content
	margin-bottom 0

.Details-list
	display inline-block
	width 100%
	text-align center
	padding-bottom 30px
	.active
		display inline-block
		font-weight bold
		font-size 24px
		margin 0 5px
		transition .2s
		-webkit-transition .2s
		a
			display inline-block
			width 70px 
			height 70px
			border-radius 50%
			border none
			background afic
			color white
			line-height 70px
			
.Details-list--solo
	padding-top 30px
	
.Details-item
	display inline-block
	font-size 24px
	margin 0 5px
	transition .2s
	-webkit-transition .2s
	a
		display inline-block
		width 70px 
		height 70px
		font-weight 200
		border-radius 50%
		border 1px solid afic
		background none
		color afic
		line-height 68px

.Details-list
	.active.Details-item--secundari
		a
			background #6ea709
			color white
		
.Details-item--secundari
	a
		border 1px solid #6ea709
		color #6ea709
		
.Details-solo
	padding 0 0 30px 15px
	
.Details-logo
.Details-logo2
	display none

.Tab-container
	// background rgba(red,.1)
	padding-bottom 35px

.Tab-container-single
	padding-bottom 35px

.Tab-containerSolo
	text-align left
	background none

.Tab-title
	text-transform uppercase
	font-weight 200
	font-size 18px
	padding-bottom .3em
	letter-spacing 0px
	color mediaFuente
	margin 0
	text-align left

.Tab-subTitle
	font-size 14px
	line-height 19px
	margin 0
	color mediaFuente
	// color mediaFuente
	
.Tab-optionTitle
	font-size 21px
	padding-bottom .3em
	font-weight bold
	color afic
	text-align left
	margin 0

.Tab-optionMainsection
	border-bottom border
	padding 0px 0 15px 0 
	text-align left
	p
		color mediaFuente
		font-size 14px
		line-height 19px

.Tab-optionMainsection--detail
	padding-top 15px
		
.Tab-date
	border-bottom border
	padding 15px  
	
.Tab-time
	border-bottom border
	padding 15px
	background rgba(black,.03)
	
.Tab-date--left
	float left
	p
		font-size 16px
		font-weight 600
		span
			font-size 14px
			color terciaFuente
		
.Tab-date--right
	text-align right
	p
		color terciaFuente
		font-size 14px
	.link
		font-size 14px
	
.Tab-footer
	border-bottom border
	padding 15px 0 60px 0
	text-align center

.Tab-footer--imgLocal
	width 100%
	height 150px
	background url(../img/mapa.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	
.Tab-footer--imgOnline
	background afic
	width 100%
	height 150px
	// background url(../img/online.jpg)
	// background-repeat no-repeat
	// background-position-x top
	// background-position-y top
	// background-size 100%
	
.Tab-footer--iconLocal
	position relative
	top 25px
	display inline-block
	text-align center
	width 100px
	height 100px
	background rgba(black,.4)
	border-radius 50%
	line-height 100px
	&:after
		color white
		font-family icomoon
		content "\e602"
		font-size 31px
		
.Tab-footer--iconOnline
	position relative
	top 25px
	display inline-block
	text-align center
	width 100px
	height 100px
	background rgba(black,.3)
	border-radius 50%
	line-height 100px
	&:after
		color white
		font-family icomoon
		content "\e606"
		font-size 31px

.Tab-footer--detail
	text-align left
	padding 5px 0 0 0 
	p
		font-size 14px
		line-height 19px
		color terciaFuente	
	
.Tab-cta
	background secundariLight
	padding 20px 0 15px 0 
	margin-bottom 0 
	// border-top border
	// border-radius 0 0 5px 5px
	// margin-top 40px
	text-align center

.btn-container
	text-align center
	display inline-block
	padding 20px 0 
	
.Tab-container--solo
	display none
	
.Tab-ctaTitle
	font-size 21px
	display inline-block
	width 100%
	text-align center
	// padding-bottom 10px
	width 100%
	margin 0

.Closed
	text-align center
	margin 30px 0 10px 0 


.detalles-curso
	text-align left
	margin-top 1rem
	div	
		margin-bottom 1rem
	h3
		color gray
		font-size 1.3rem
		margin-bottom .2em
// Teachers

.Teachers
	background white
	padding-top 60px
	padding-bottom 30px
	h2
		margin-bottom 30px
	
.Teachers-list
	text-align center
	
.Teachers-item
	padding-top 30px
	display inline-block
	padding 0 30px 30px 30px 
	h3
		font-size 24px
		font-weight bold
		margin-top 20px
		margin-bottom 0px

.Teacher-face--Salva
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/salva-face-small.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Amanda
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/amanda-face-small.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Ferran
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/ferran-face-small.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Elisabet
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/elisabet-face-small.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Sandy
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/sandy-face-small.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Pere
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/pere-face-small.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom

// Answer

.logoAnswer
	display block
	text-align center
	&:after
		display inline-block
		font-family icomoon
		content: "\e605";
		font-size 41px

.Answer
	color white
	background secundariDark
	padding 60px 0 40px 0
		
.Answer-detail
	h3
		text-align center
		color white
		font-size 28px
		line-height 26px
		font-weight 200
		margin 0 
		padding 10px 0 18px 0 
	p
		font-size 16px
		line-height 21px
		text-align center
	
.Answer-emailLogo
	color afic
	&:after
		font-family icomoon
		content: "\f0e0";
		font-size 31px
		
.Answer-telfLogo
	color c_naturopatia
	&:after
		font-family icomoon
		content: "\f095";
		font-size 31px
		
.Answer-list
	padding 30px 0 20px 0

.Answer-item
	padding 20px 0 
	text-align center	

.Answer-emailLink
	color afic
	font-size 18px	
	font-weight bold
	&:hover
		color primar
		
.Answer-itemText
	font-weight bold
	color c_naturopatia
	font-size 18px
	&:hover
		color primari



// Price

.Price
	// background secundariLight
	text-align center
	// padding-bottom 50px
	
.Price-logo
	margin 0 auto
	display inline-block
	width 100%
	img
		width 80px
		height 80px

.Price-CourseName
	font-weight bold
	line-height 1em

.Price-logoDetails
	padding .7em 0 0 0
	h3
		margin 0
		color mediaFuente
	
.Price-tableContainer
	max-width 360px
	margin 0 auto
	// box-shadow 0 2px 5px rgba(black,.3)

.Price-table
	display inline-block
	width 100%
	background white
	.promo
		font-size 16px
		margin-top 0px
		background secundari
		font-weight 600
		color white
		padding-top 5px 
		padding-bottom 5px 
		border-radius 3px
		text-transform uppercase
		text-align center
	.promo-copy
		width 200px
		margin-top 5px
		font-size 14px

.Price-reiki
	font-size 41px

.Price-tableTop
	background c_quiromasaje
	text-align left
	color white
	padding 50px 0 80px 30px
	// border-radius 5px 5px 0 0 
	h4
		display inline-block
		font-weight bold
		font-size 61px
		color white
	span
		display inline-block
		font-weight bold
		font-size 31px
	p
		font-weight 600
		font-size 18px
		margin -15px 0 0 0 
		width 200px
		line-height 1em
		color rgba(white,.7)
		

		
.Price-naturopatia
	background #72a015

.Price-tecnicasVibracionales
	background c_tecnicasVibracionales
	
.Price-tecnicasOrientales
	background c_tecnicasOrientales

.Price-drenajeLinfatico
	background c_drenaje
	
.Price-aromaterapia
	background c_aromaterapia

.Price-reflexologia
	background c_reflexologia
	
.Price-ayurveda
	background c_ayurveda

.Price-flores
	background c_flores
	
.Price-kinsesiologia
	background c_kinesiologia

.Price-CourseList-courseData

.Price-tableBottom
	text-align left
	padding 30px 30px 40px 50px
	border-bottom border
	ul
		padding 0 0 80px 0
		li
			color terciaFuente
			text-align left
			font-size 16px
			line-height 25px
			
.Price-tableBottom--list
	text-align left
	padding 30px 30px 40px 30px
	border-bottom border
	ul
		padding 20px 0 60px 0
	
.Price-table--cta
	display inline-block
	// margin 0 0 0 -15px

.Price-list
	display inline-block
	width 100%
	
.Price-item
	border-bottom border
	padding 10px 0 0 0
	margin 0
	text-align left
	height 50px
	&:last-child
		border-bottom none

.Price-itemName
	font-size 21px
	color afic
	font-family bebas

.Price-itemPrice
	text-align right
	font-weight bold
	font-size 21px
	position relative
	top -33px
	span
		font-size .5em

// Course-faq

.Course-faq
	background secundariLight
	text-align left
	// padding 0 0 50px 0 
	h3
		text-align left

.Course-faqList
	display inline-block
	li
		display inline-block
		width 100%
		// width 48%
		vertical-align top
		padding 0 10px 0 0 

.Course-faqLink
	h4
		text-align left
		font-weight 400
		font-size 16px
		line-height 26px
		max-width 500px
		&:hover
			color primari
			text-decoration underline


// Descount

.Descount
	// background secundariLight
	padding 0 0 50px 0 

.Descount-title
	font-size 24px
	line-height 29px
	padding 30px 0 20px 0
	font-weight 200
	letter-spacing 0px
	margin 0 
	span
		font-weight bold
		
// .Descount-courses
// 	display none
	
.Descount-itemContainer
	display inline-block
	height 100px
	
.Descount-item
	display inline-block
	margin 0 0 20px 0
	text-align left
	&:last-child
		margin-bottom 0
	
.Descount-PackContainer
	text-align center 
	
.Descount-Pack
	display inline-block
	padding 20px 0 10px 0 
	// max-width 350px
	width 100%
	text-align left

.Descount-PackTitle
	font-weight bold
	font-size 21px
	text-transform uppercase
	letter-spacing -1px
	&:before
		font-family icomoon
		content "\e608"
		font-size 41px
		float left
		margin 0 10px 0 0 
		
.Descount-PackContent
	margin 0 0 0 55px
	
.Descount-seeOfer
	padding 0 0 30px 0 
	
.Descount-PackImgA
	background url(../img/packa.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 60%
	max-width 205px
	height 65px
	display inline-block
	margin 15px 0 0 50px
	
.Descount-PackImgB
	background url(../img/packb.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 60%
	max-width 205px
	height 65px
	display inline-block
	margin 15px 0 0 50px
	
.Descount-PackImgA1
	background url(../img/packa1.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 60%
	height 65px
	max-width 205px
	display inline-block
	margin 15px 0 0 50px
	
.Descount-PackImgB1
	background url(../img/packb1.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 60%
	height 65px
	max-width 205px
	display inline-block
	margin 15px 0 0 50px

.Descount-cta
	margin-top 0 
	

// Inscripcion page

.Banner-inscripcion
	background secundariLight
	padding 30px 0 40px 0
	a
		text-decoration underline 

.Banner-inscripcion--team
	background #e7e7e7
	text-align center
	font-size 0
	// height 150px

.Hero-team
	display inline-block
	background url(../img/hero/equipo-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 100%
	max-width 320px
	height 150px
		
		
.Form-section
	padding 30px 0 

.Section-number
	span
		text-align center
		display inline-block
		background secundariDark
		color white
		width 50px 
		height 50px 
		border-radius 50%
		line-height 48px
		font-weight bold
		font-size 28px
	.line
		display block
		border-top border
		margin 0 0 0 65px
		position relative
		top -25px
		
.SectionForm-title
	h3
		font-size 18px
		font-weight bold
		padding 20px 0 
		margin 0 

.Course-container
	display none

.Toggle
	border border
	padding 

.Toggle-title
	display inline-block
	font-size 16px 
	color terciaFuente
	line-height 26px

.Icon-list
	color terciaFuente
	display inline-block
	float right
	position relative
	right 25px
	top 2px
	font-size 21px
	border-right border
	padding 0 10px 0 0 
	&:after
		font-family icomoon
		content: "\e120"
	
.Icon-arrow
	color terciaFuente
	float right
	display inline-block
	transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
	position relative
	right -35px
	top 3px
	font-size 21px
	&:after
		font-family icomoon
		content: "\e600";

.Course-container
	padding 20px 0 

.Course-item
	// background red
	margin 0 0 10px 0 
	padding 
	display block
	list-style-type none
	input
		display inline-block
		width 20px 
		height 20px 
		border-radius 50%
		border 1px solid rgba(black,.7)
		background secundariLight
		vertical-align top
		margin 3px 5px 0 0 
	label
		// background green
		margin 0
		display inline-block
		width 80%
		vertical-align top

.Form-cta
	padding 0 0 80px 0 
	
.Answer-input
	height 47px
	font-size 13px
	width 32%
	margin-top 10px
	margin-right 3%
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box

.Answer-cta
	display inline-block
	width 30%
	float right
	position relative
	top -50px

.button
	border none
	border-radius 4px
	color white
	font-size 1.3em
	font-weight bold
	letter-spacing -.01em
	padding .6em .75em
	box-shadow inset 0 -2px rgba(0,0,0,0.3)
	text-decoration none
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	transition 0.2s
	-webkit-transition 0.2s
	background #ff4842
	color white
	&:hover
		background #7dcd40
		color white
	
.Payment-details
	padding 20px 0 15px 20px
	p
		font-size 14px
		font-weight 200
		line-height 21px

#mc_embed_signup input
	border border

// FAQ	

.GoUp-link
	background #e88400
	width 60px
	height 60px
	border-radius 50%
	position fixed
	right 15px
	bottom 30px
	z-index 5
	box-shadow 1px 1px 5px rgba(black,.5)
	text-align center
	&:after
		font-family icomoon
		content: "\f062";
		position relative
		font-size 34px
		top 3px	
		display inline-block
		color white

.Faq-container
	text-align center	

.Faq-buttonList
	padding 30px 0 0 0 
	display inline-block
	h2
		font-size 14px
		line-height 19px
		margin 0 0 14px 0
		// text-decoration underline
		&:hover
			text-decoration underline
			color primari

.Faq-buttonContainer
	text-align left
	li
		display block
		max-width 550px
		
.Faq-listContainer
	max-width 550px
	text-align left

.Faq-list
	display inline-block
	padding 30px 0 10px 

.Faq-item
	padding 20px 0 70px 0
	border-bottom border
	&:last-child
		border-bottom none
	h2
		font-size 18px
		font-weight bold
		line-height 23px
	p
		font-weight 200
		font-size 16px
		line-height 21px
		
.Faq-itemSpecial
	padding 15px 0 0 0 
	ul
		margin 0 0 0 30px
		li
			padding 16px 0 0 0 
			span
				font-style italic


// Acerca de

.Team
	padding-top 0

.Team-list
	padding 30px 0 60px 0
	border-bottom border
	// margin-bottom 60px

.Team-item
	padding 10px 0 20px 0 
	h2
		font-weight bold
		font-size 31px
	h3
		font-weight bold
		font-size 21px

.Error-langing
	background secundariLight
	height 100vh
	text-align center
	a
		text-decoration underline

.Error
	font-size 50px
	padding-top 100px


// Profesores

.TeamTeachers
	h2
		font-weight bold
		font-size 31px
		line-height 36px
		
.Teachers-container
	margin-bottom 100px

.TeamTeachers-one
	display inline-block
	width 100%
	padding-top 16px
	padding-bottom 60px
	// border-bottom border
	margin-bottom 20px
	h3
		padding-top 16px
		padding-bottom 16px
		font-weight bold
		font-size 24px
	h4
		font-weight bold
		font-size 18px
		padding-bottom 0px
		margin-bottom 10px
		
// .TeamTeachers-elisabet
// 	border-bottom none

.Techer-img--Amanda
	width 100%
	display block
	margin 0 auto
	height 430px
	background url(../img/profes/amanda-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	
.Techer-img--Ferran
	width 100%
	display block
	margin 0 auto
	height 430px
	background url(../img/profes/ferran-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	
.Techer-img--Salva
	width 100%
	display block
	margin 0 auto
	height 430px
	background url(../img/profes/salva-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	
.Techer-img--Elisabet
	width 100%
	display block
	margin 0 auto
	height 430px
	background url(../img/profes/elisabet-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%

.Techer-img--Pere
	width 100%
	display block
	margin 0 auto
	height 430px
	background url(../img/profes/pere-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	
.Techer-img--Sandy
	width 100%
	display block
	margin 0 auto
	height 430px
	background url(../img/profes/sandy-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%


.Teacher-description
	padding 30px 0 20px 0
	p
		margin-bottom 15px
	
.Teacher-description-solo
	padding 0px 0 30px 0
	p
		margin-bottom 15px

.In-this
	display block
	margin-bottom -60px
	margin-left -20px
	transform: scale(.9, .9);
	-ms-transform: scale(.9, .9);
	-webkit-transform: scale(.9, .9);

.This-left
	display inline-block
	width 75px
	
.This-right
	display inline-block
	position relative
	top -60px
	h3
		padding 0
		font-size 21px
		margin 0 0 3px 0
		
.This-right__tfh
	display inline-block
	position relative
	top 10px
	h3
		padding 0
		font-size 21px
		margin 0 0 3px 0


// Otros cursos

.OtherCourses
	margin-top 30px
	margin-bottom 60px

.OtherCourse
	padding .5em
	margin-bottom 1em
	border-bottom border
	padding-bottom 50px
	
.OtherCourse-title
	font-weight bold
	font-size 21px
	span
		background secundari
		color white
		font-size 16px
		font-weight 600
		padding 2px 5px
		margin-left .5em
		border-radius 5px
		// text-transform uppercase

.OtherCourse-right
	margin-top 1.5em
	display inline-block
	padding 0 0 .5em 0 
	
.Answer-other
	background secundariLight
	color rgba(black,.8)
	.Answer-detail
		h3
			color rgba(black,.8)
		



// Formulario Wufoo

.form
	margin-top 20px



// Esto es para el banner de curso en la home. 
// Llamando al logo desde la imagen en png de un solo logo en logo/nombnre.png
.logo-hft-home
	background red
	background url(../img/logo/tfh-big.png)
	background-size 66px 66px
	background-repeat none
	width 66px
	height 66px
	position relative
	top 45px

.destacado-new
	&:before
		font-family icomoon
		content "NUEVO"
		color white
		background primari
		font-weight 400
		font-size 25px
		position absolute
		padding 2px 7px
		border-radius 5px
		top -20px
		right -40px
		transform: scale(.4, .4);
		-ms-transform: scale(.4, .4);
		-webkit-transform: scale(.4, .4);

// Logo para sección curso destacado
.curso-destacado
	background red
	background url(../img/logo/tfh-big.png)
	background-size 66px 66px
	background-repeat none
	width 66px
	height 66px
	position relative
	top 45px
	
// Logo para acerca de
.tfh-acercaDe
	background url(../img/logo/tfh-big.png)
	background-size 60px 60px
	background-repeat none
	width 60px
	height 60px
	position relative
	top 25px
	display inline-block


// Logo para pagina de suscripción
// .curso-inscripcion
// 	background red
// 	background url(../img/logo/tfh-big.png)
// 	background-size 66px 66px
// 	background-repeat none
// 	width 66px
// 	height 66px
// 	position relative
// 	top 45px









	
