

// Estilos generales

body
	font-family bodyFont
	color c_bodyFont
	font-weight 200
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	margin 0 
	
a
	color primari
	&:hover 
		color afic
		
a.buttonWhite
	&:visited
		color white

ul
li
p
	margin 0		

.commingSoon
	opacity .5

.center
	text-align center

.link
	text-decoration underline
	color primari
	font-weight 600


// Heeader

.Header-container
	background rgba(#716b5c,1)
	height 80px

.Header-logo
	display inline-block
	position absolute
	top 3px
	left 15px
	padding 7px 0	
	coursor pointer 

.MainMenu-icon 
	font-size 2.5em
	display inline-block
	position absolute
	top 10px 
	right 15px
	
.icon-menu
	float 
	&:before
		color white
		font-family icomoon
	
.MainMenu-container
	background secundariDark
	text-align center
	padding 10px 0  
	margin 0

.MainMenu-option
	display inline-block
	width 100%
	padding 15px 0
	
.MainMenu-link
	color white
	text-decoration none
	font-weight 600
	font-size 16px
	display block

.MainMenu
.MainSection-message
	display none
	

// MainSection

.MainSection
	background url(../img/hero/home-small.jpg)
	background-repeat no-repeat
	background-position-x 90% 
	background-position-y top
	background-size cover
	padding 60px 0 80px 0
	
.MainSection-title
	font-weight bold
	font-size 41px
	color white
	text-shadow 0 0 10px rgba(black,.3)
	padding 20px 0 0 0 

.MainSection-subTitle
	display inline-block
	color white
	font-weight 600
	text-shadow 0 0 10px rgba(black,.3)
	margin 0
	padding 0 0 40px 0
	font-size 21px
	line-height 28px
	
.MainSection-cta
	display inline-block
		
	

// NextEvent

.NextEvent
	background secundariLight
	padding 2em 0 
	overflow hidden

.NextEvent-date
	vertical-align top
	display inline-block
	width 15%
	text-align center
	padding 0 0 0 0 

.NextEvent-dateMonth
	font-size 1.3em

.NextEvent-dateDay
	font-size 2.75em
	font-weight 600
	line-height 1em
	
.NextEvent-content
	display inline-block
	padding 0 0 0 1em
	width 80%

.NextEvent-label
	background primari
	color white
	padding .2em .3em
	
.NextEvent-title
	font-size 1.125em
	font-weight 600
	line-height 1em
	padding .3em 0 0 0 

.NextEvent-detail
	padding 1em 0 0 0
	display none

.NextEvent-description
	margin 0 


// CourseBanner

.CourseBanner
	padding 30px 0 10px 0

.CourseBanner-title
	font-size 1.5em
	text-align center
	letter-spacing -1px
	line-height 1.3em 
	font-weight 600
	margin 0 0 20px 0
	
.CourseBanner-description
	text-align center
	margin 0
	font-size 16px
	line-height 23px


// CourseNavigation
	
.CourseNavigation
	width 100%
	margin 0 auto
	display block
	padding 30px 0 10px 0

.CourseNavigation-container
	padding 0

.CourseNavigation-list
	margin 0
	text-align center
	dd
		display inline-block
		margin 0 .5rem .5rem 0
		transition .1s
		-webkit-transition .1s
		-webkit-filter: brightness(1);
		&:hover
			-webkit-filter: brightness(1.2);
		a
			color white
			&:hover
				color white


// CourseList

.CourseList
	padding 35px 0 70px 0

.CourseList-list
	padding 0
	margin 0
	
.CourseList-course
	position relative
	display inline-block
	border-bottom 1px solid rgba(black,.3)
	width 100%
	padding 25px 0 35px 0

.CourseList-courseData
	display inline-block
	position absolute
	top -20px
	
.CourseList-courseInfo
	display inline-block
	margin 0 0 0 80px

.CourseList-courseTitle
	font-size 1.315em
	font-weight 600
	line-height 1.2em
	margin 0 0 .5em 0
	max-width 120px

.extraHeight
	margin 0 0 30px 0

.CourseList-courseGoblalLink
	position absolute
	top 0
	right 0
	bottom 0
	left 0

.spanLink
	color primari
	font-weight 600
	display block
	width 140px
	line-height 18px
	&:after
		font-family icomoon
		content: "\e600";
		position relative
		font-size 20px
		top 3px	
	&:hover
		color afic
		
.agujasIntradermicas-small
.amma-small
.ampuku-small
.aromaterapia-small
.champi-small
.cosmeticaNatural-small
.crecimientoPersonal-small
.cyriax-small
.drenajeLinfatico-small
.estiramientosThai-small
.floresBach-small
.kinergeticsReset-small
.kinesiologiaIntegrada-small
.moxibustion-small
.piedras-small
.pindas-small
.quiromasaje-small
.quiromasajeSuperior-small
.reflexologia-small
.auriculoterapia-small
.registrosAkashicos-small
.reiki-small
.shiatsuFacial-small
.vendajeNeuromuscular-small
.naturopatia-small
	transform: scale(.4, .4);
	-ms-transform: scale(.4, .4);
	-webkit-transform: scale(.4, .4);
	display inline-block
	margin 0 0 0 -3em

.agujasIntradermicas-smallRecomended
.amma-smallRecomended
.ampuku-smallRecomended
.aromaterapia-smallRecomended
.champi-smallRecomended
.cosmeticaNatural-smallRecomended
.crecimientoPersonal-smallRecomended
.cyriax-smallRecomended
.drenajeLinfatico-smallRecomended
.estiramientosThai-smallRecomended
.floresBach-smallRecomended
.kinergeticsReset-smallRecomended
.kinesiologiaIntegrada-smallRecomended
.moxibustion-smallRecomended
.piedras-smallRecomended
.pindas-smallRecomended
.quiromasaje-smallRecomended
.quiromasajeSuperior-smallRecomended
.reflexologia-smallRecomended
.auriculoterapia-smallRecomended
.registrosAkashicos-smallRecomended
.reiki-smallRecomended
.shiatsuFacial-smallRecomended
.vendajeNeuromuscular-smallRecomended
.naturopatia-smallRecomended
	transform: scale(.4, .4);
	-ms-transform: scale(.4, .4);
	-webkit-transform: scale(.4, .4);
	display inline-block
	margin -30px 0 0 -3em
	
.CourseList-courseLabel
	display inline-block
	border-radius 3px
	font-size 0.875rem
	background primari
	color white
	font-weight 700
	padding .1em .5em
	margin-bottom 5px

.c_quiromasaje
	background primari
.c-naturopatia
	background c_naturopatia
.c_tecnicasOrientales
	background c_tecnicasOrientales
.c_crecimiento
	background c_crecimiento
.c_drenaje
	background c_drenaje
.c_ayurveda
	background c_ayurveda
.c_flores
	background c_flores
.c_aromaterapia
	background c_aromaterapia
.c_tecnicasVibracionales
	background c_tecnicasVibracionales
.c_kinesiologia
	background c_kinesiologia
.c_reflexologia
	background c_reflexologia
	
.destacado
	&:before
		font-family icomoon
		content "NUEVO"
		color white
		background primari
		font-weight 400
		font-size 25px
		position absolute
		padding 2px 7px
		border-radius 5px
		top -20px
		right -20px
		

// Mailchimp

.Newsletter-formContainer
	display block
	margin 0 auto

.Newsletter-formTitle
	display block
	max-width 100%
	text-align center
	font-size 21px
	line-height 26px
	font-weight 200
	padding 10px 30px 20px 30px

.Newsletter-inputs
	input
		width 100%

.Newsletter-cta
	margin 20px 0 50px 0

#mc_embed_signup input
	border none



// Footer

.Footer
	background secundariDark
	padding 30px 0 500px 0px
	color white
	text-align center
	
.Footer-columnSmall
	display inline-block
	width 100%
	font-weight 600
	border-bottom 1px solid rgba(white,.1)
	padding 0 0 30px 0
	
.Footer-columnBig
	margin 30px 0 0 0
	display inline-block
	width 100%
	text-align left

.Footer-contactInfo
	display block
	max-width 270px
	text-align left
	margin 0 0 0 0 
	line-height 8px
	p
		font-weight 600
		margin 0 0 0 30px
	&:before
		position relative
		top 18px
		margin 0 
		font-size 20px

.Footer-nav
	margin 10px 0 0 0 

.Footer-navList
	text-align left
	padding 0 0 0 1rem
	margin 0 0 0 0 

.Footer-navLink
	display inline-block
	margin 0 0 0 0 
	display list-item
	&:first-child
		margin 0
	a
		color white
		font-size 1rem
		&:after
			font-family icomoon
			content: "\e600";
			position relative
			font-size 20px
			top 3px	
		&:hover
			color afic

.Footer-logo
	display inline-block

.Footer-extraInfo
	text-align left
	margin 1em 0 0 0
	p
		font-weight 600

.Footer-cta
	display inline-block
	margin 20px 0 5px 0  
	width 100%

.Footer-network
	display inline-block

.Footer-networkTitle
	margin 1em 0 0 0 
	display inline-block
	h4
		display inline-block
		color white
		font-weight 600
		border-right 1px solid white
		padding 0 1em 0 0 
		font-size 1.125rem

.Footer-networkList
	display inline-block

.Footer-networkLink
	display inline-block
	font-size 20px
	color white
	vertical-align middle
	padding 0 0 0 10px

	

// Course page =======================================

.NewSection
	padding 60px 0 30px 0
	
.Section-title
	font-size 34px
	line-height 40px
	padding 0 0 34px 15px
	font-weight 200
	letter-spacing 0px
	margin 0
	

// CourseHeroGroup-dateYear

// =============================

.Course-mainSection
	background-size cover
	padding 30px 0 40px 0
	
	color white
	text-shadow 1px 1px 1px rgba(black,.1)

.quiromasajePresencialHero
	background url(../img/hero/quiromasaje-presencial-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.naturopatiaHero
	background url(../img/hero/naturopatia-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

// =============================

.Course-mainSectionLeft
	width 70px
	float left

.Course-logo
	width 70px
	height 70px
	
.Course-mainSectionDetail
	margin 0 0 0 80px
	text-shadow 0 0 10px rgba(black,.3)
	
.Title-A
	display block
	color white
	font-size 27px
	font-weight bold
	line-height 34px
	
.Course-detail
	display block
	font-size 16px
	line-height 21px
	margin 5px 0 15px 0
	
.Course-mainSectionCTA
	margin 0 0 0 80px


// CourseDetails

.CourseDetails
	background secundariLight
	padding 20px 0 
	
.CourseDetails-container
	display inline-block
	vertical-align top
	width 100%	

.CourseDetails-title
	font-family bodyFont
	color rgba(black,.6)
	font-size 16px
	font-style italic
	letter-spacing 0px
	margin 0
	
.CourseDetails-content
	display inline-block
	font-family bebas
	font-size 41px
	letter-spacing -2px
	line-height 35px
	margin 0
	width 100%
	span
		font-family bodyFont
		font-size 31px
		font-weight bold
		a
			color c_bodyFont
			coursor default
				
.certificate
	font-size 14px
	line-height 16px
	font-weight 200
	text-align left
	padding 5px 0 0 0 
	max-width 200px

.CourseDetails-idealFor
	display inline-block
	padding 15px 0 15px 0 
	vertical-align top
	width 100%
	
.idealFor-title
	color afic
	font-family bebas
	font-size 24px
	letter-spacing 0px
	margin 0
	padding 0 0 5px 0
	
.idealFor-detail
	font-size 16px
	line-height 21px
	margin 0

.Aval
	background #60c2c2
	p
		font-weight 600
		color white
		text-align center 
		padding 20px 0
		font-size 16px 
		line-height 24px


// acercaDe page =======================================


// MainSection

.Team
	padding 30px 0 50px 0

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 100px 0
	
.Team-mainTitle
	font-size 41px
	line-height 45px
	text-align center
	font-weight bold

.acercaTitle
	font-size 41px
	text-align center

.Team-section
	padding 

.Team-title
	font-size 28px
	text-align center
	line-height 33px
	font-weight 600
	font-weight bold
	margin 0 0 20px 0
	
.Team-sectionTitle
	font-size 21px
	text-align center
	line-height 28px
	font-weight bold
	margin 0 0 20px 0
	
.Team-sectionDescription
	font-size 16px
	line-height 23px
	text-align left
	
.Welcome-content
	font-size 16px
	font-weight 600


// Learn

.LearnShort
	padding-bottom 0

.List-item
	margin 0 0 0 15px
	list-style-type normal
	p
		margin 0
		font-size 16px
		line-height 23px
		margin 0 0 .3rem 0
	&:before
		float left
		
.Learn-listContainer
	display inline-block 
	width 100%
	
.Learn-recomended
	display inline-block 
	width 100%
	
.Learn-recomendedItem
	font-size 14px
	display block
	margin 0 0 10px 0
	list-style-type none
	
.Learn-recomendedTitle
	margin 0 
	
.CourseList-courseRecomended
	padding 0 0 10px 0
	min-height 80px
	border-bottom none
	
.Secundary-title
	font-size 24px
	line-height 29px
	padding 30px 0 34px 0
	font-weight 200
	letter-spacing 0px
	margin 0 
		
.Learn-list
	max-width 600px

.Learn-imgQuiroPresencial	
	display none
	// background url(../img/quiromasaje_presencial_img1_small.jpg)
	// background-repeat no-repeat
	// background-position-x 50% 
	// background-position-y 0
	// background-size 100%
	// width 90%
	// height 180px
	// position relative
	// top 40px
	// display block
	// margin 0 auto

.Learn-imgNaturopatia
	display none
	// background url(../img/naturopatia2.png)
	// background-repeat no-repeat
	// background-position-x 50% 
	// background-position-y 0
	// background-size 100%
	// width 100%
	// height 240px
	// position relative
	// top 30px
	// display block
	// margin 0 auto


// Index

.Index
	background terciariLight
	
.Index-img
	img
		width 100%
		position relative
		
.Index-listToggle
	border-bottom 1px solid c_borde
	padding 10px 0
	&:hover
		background rgba(black,.05)
		
.Index-list
	background white
	padding 20px 0 10px 25px
	display none
	
.Index-intraList
	padding 0 0 0 15px
	list-style-type disc 

.Index-listToggle
	font-size 21px 
	letter-spacing -1px
	font-weight 600
	padding 20px 0 20px 10px
	position relative

.Index-listToggleIcon
	position absolute
	right 40px
	font-size 24px
	top 20px

.Index-listToggleIconBook
	&:after
		font-family icomoon
		content "\e920"
		border-right 1px solid
		padding 0 10px 0 0 
		
.Index-listToggleIconArrow
	transform: rotate(90deg)
	-webkit-transform: rotate(90deg)
	-ms-transform: rotate(90deg)
	position relative
	top -30px
	right -35px
	&:before
		font-family icomoon
		content "\e600"
		line-height 24px
		
.ListOne-toggle
	color #88b035
	span
		color #88b035
		
.ListTwo-toggle
	color #378b37
	span
		color #378b37
		
.ListThree-toggle
	color #12767a
	span
		color #12767a
		
.index-item
	display block
	

// Teachers

.Teachers
	text-align center
	background secundariLight

.Teacher
	box-shadow 0 0 5px rgba(black,.5)
	width 200px
	height auto
	background white
	border-radius 5px
	display inline-block
	margin 0 0 20px 0

.Teacher-name
	font-weight bold
	font-size 21px
	margin 0
	padding 10px 0 5px 0 
	
.Teacher-designation
	margin 0 
	font-size 14px
	line-height 18px
	padding 0 5px 20px 5px


// Details

.Section-description
	text-align center
	font-size 16px 
	line-height 21px

.Details
	padding-bottom 0

// .Details-content
// 	text-align center

.Details-tabs
	padding 30px 0 15px 0 

.Details-list
	display inline-block
	width 100%
	text-align center
	.active
		display inline-block
		font-weight bold
		font-size 24px
		margin 0 5px
		transition .2s
		-webkit-transition .2s
		a
			display inline-block
			width 70px 
			height 70px
			border-radius 50%
			border none
			background c_naturopatia
			color white
			line-height 70px
	
.Details-item
	display inline-block
	font-weight 600
	font-size 24px
	margin 0 5px
	transition .2s
	-webkit-transition .2s
	a
		display inline-block
		width 70px 
		height 70px
		font-weight bol
		border-radius 50%
		background rgba(black,.1)
		color rgba(black,.5)
		line-height 67px
	span
		display none

.Tab-header
	padding 30px 0 15px 0 
	text-align left
	
.Tab-title
	text-transform uppercase
	color rgba(black,.4)
	font-weight 700
	font-size 14px
	border-bottom border

.Tab-subTitle
	font-size 16px
	line-height 21px
	margin 0
	
.Tab-option
	display inline-block
	width 100%
	border-radius 5px
	border-top 30px solid rgba(afic,1)
	margin 20px 0 10px 0 
	box-shadow 0 1px 25px rgba(black,.3)
	padding 0 0 15px 0 
	text-align left

.Tab-optionB
	// background rgba(c_naturopatia,.2)
	border-top 30px solid rgba(c_naturopatia,1)

.Tab-optionHeader
	padding 50px 15px 0 30px
	h4
		margin 0
	
.Tab-optionTitle
	font-size 18px
	font-weight bold
	color #b95400
	
.colorB
	color #507d00

.Tab-optionMainsection
	padding 8px 15px 30px 30px
	font-size 16px
	line-height 21px
	color #b95400
	
.Tab-optionFooter
	padding 10px 15px 30px 30px
	position relative
	
.Tab-optionFooter--icon
	display inline-block
	width 30px
	&:before
		color #b95400
		font-family icomoon
		content "\f133"
		font-size 21px

.Tab-optionFooter--detail
	position absolute
	top 15px
	display inline-block
	vertical-align moddle
	border-left border
	padding 0 0 0 10px 
	p 
		color #b95400
		font-weight normal
		line-height 21px
		font-size 16px
		
.Tab-optionFooter--time
	// padding 0 0 30px 0 
	color #955400
	
.Tab-optionFooter--timeB
	color #507d00
		
.Tab-optionFooter--iconB
	display inline-block
	width 30px
	&:before
		color #507d00
		font-family icomoon
		content "\f133"
		font-size 21px

.Tab-optionFooter--detailB
	position absolute
	top 15px
	display inline-block
	vertical-align moddle
	border-left border
	padding 0 0 0 10px 
	p 
		color #507d00
		font-weight normal
		line-height 21px
		font-size 16px

.Tab-cta
	padding 20px 0 
	
.btn-container
	text-align center

.Tab-ctaTitle
	font-size 21px
	display inline-block
	width 100%
	text-align center
	
.btn-container
	display inline-block
	width 100%
	padding 20px 0
	
.Closed
	text-align center


// Answer

.logoAnswer
	display block
	text-align center
	&:after
		display inline-block
		font-family icomoon
		content: "\e605";
		font-size 41px

.Answer
	color white
	background secundariDark
	padding 60px 0 40px 0
		
.Answer-detail
	h3
		text-align center
		color white
		font-size 28px
		line-height 26px
		font-weight 200
		margin 0 
		padding 10px 0 18px 0 
	p
		font-size 16px
		line-height 21px
		text-align center
	
.Answer-emailLogo
	color afic
	&:after
		font-family icomoon
		content: "\f0e0";
		font-size 31px
		
.Answer-telfLogo
	color c_naturopatia
	&:after
		font-family icomoon
		content: "\f095";
		font-size 31px
		
.Answer-list
	padding 30px 0 20px 0

.Answer-item
	padding 20px 0 
	text-align center	

.Answer-emailLink
	color afic
	font-size 18px	
		
.Answer-itemText
	color c_naturopatia
	font-size 18px



// Price

.Price
	text-align center
	
.Section-title
	text-align left

.Price-container
	display inline-block
	max-width 360px

.Price-logo
	margin 0 auto
	display inline-block
	width 100%
	img
		width 120px
		height 120px

.Price-logoDetails
	padding 10px 0 30px 0
	
.Price-list
	display inline-block
	width 100%
	
.Price-item
	border-bottom border
	padding 10px 0 0 0
	margin 0
	text-align left
	height 50px
	&:last-child
		border-bottom none

.Price-itemName
	font-size 21px
	color afic
	font-family bebas

.Price-itemPrice
	text-align right
	font-weight bold
	font-size 21px
	position relative
	top -33px

.Price-CourseName
	display inline-block
	text-align right
	font-size 21px 
	font-weight bold
	width 45%
	line-height 21px

.Price-CourseAmount
	padding 0 30px 0 15px 
	display inline-block
	font-size 44px 
	width 45%
	font-weight bold
	text-align left
	span
		font-size 22px

.Banner
	display inline-block
	width 100%
	margin 30px 0 0 0

.Banner-AList
	text-align left
	padding 0 0 0 15px 
	font-weight 600

.InterBannerContainer
	text-align center
	padding 20px 0 40px 0
	position relative
	span
		background white
		padding 5px 20px
		position absolute 
		left 42%
	.line
		border-top 1px solid rgba(black,.1)
		width 50%
		display inline-block

.save
	background url(../img/save.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 100%
	height 55px
	
.Promo
	padding 30px 
	border-top border
	border-bottom border
	margin 0 0 30px 0 
	overflow hidden
	
.PromoLabel
	display inline-block
	width 322px
	background url(../img/promo.png)
	background-repeat no-repeat
	background-position-x 0
	background-position-y top
	background-size 60%
	height 64px
	// float left
	
	
.PromoCopy
	display inline-block
	width 100%
	text-align center
	padding 0 0 0 0
	font-weight bold
	text-align left
	
.Promo-amount
	font-weight 700

.Last-cta
	border-bottom none


// Descount

.Descount
	padding 0 0 50px 0 

.Descount-title
	font-size 24px
	line-height 29px
	padding 30px 0 10px 0
	font-weight 200
	letter-spacing 0px
	margin 0 
	span
		font-weight bold
		
.Descount-courses
	display none
	
.Descount-itemContainer
	display inline-block
	height 100px
	
.Descount-item
	display inline-block
	margin 0 0 20px 0
	text-align left
	&:last-child
		margin-bottom 0
	
.Descount-PackContainer
	text-align center 
	
.Descount-Pack
	display inline-block
	padding 20px 0 10px 0 
	max-width 350px
	width 100%
	text-align left

.Descount-PackTitle
	font-weight bold
	font-size 21px
	text-transform uppercase
	letter-spacing -1px
	&:before
		font-family icomoon
		content "\e608"
		font-size 41px
		float left
		margin 0 10px 0 0 
		
.Descount-PackContent
	margin 0 0 0 55px
	
.Descount-seeOfer
	padding 0 0 30px 0 
	
.Descount-PackImgA
	background url(../img/packa.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 60%
	height 55px
	display inline-block
	margin 15px 0 0 50px
	
.Descount-PackImgB
	background url(../img/packb.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 60%
	height 55px
	display inline-block
	margin 15px 0 0 50px
	
.Descount-cta
	margin-top 0 
	

// Inscripcion page

.Banner-inscripcion
	background secundariLight
	padding 30px 0 50px 0
	h1
		margin 0 0 15px 0 
		

.Form-section
	padding 30px 0 

.Section-number
	span
		text-align center
		display inline-block
		background secundariDark
		color white
		width 50px 
		height 50px 
		border-radius 50%
		line-height 48px
		font-weight bold
		font-size 28px
	.line
		display block
		border-top border
		margin 0 0 0 65px
		position relative
		top -25px
		
.SectionForm-title
	h3
		font-size 18px
		font-weight bold
		padding 20px 0 
		margin 0 

.Course-container
	display none

.Toggle
	border border
	padding 

.Toggle-title
	display inline-block
	font-size 16px 
	color gray
	line-height 26px

.Icon-list
	color gray
	display inline-block
	float right
	position relative
	right 25px
	top 2px
	font-size 21px
	border-right border
	padding 0 10px 0 0 
	&:after
		font-family icomoon
		content: "\e120"
	
.Icon-arrow
	color gray
	float right
	display inline-block
	transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
	position relative
	right -35px
	top 3px
	font-size 21px
	&:after
		font-family icomoon
		content: "\e600";

.Course-container
	padding 20px 0 

.Course-item
	// background red
	margin 0 0 10px 0 
	padding 
	display block
	list-style-type none
	input
		display inline-block
		width 20px 
		height 20px 
		border-radius 50%
		border 1px solid rgba(black,.7)
		background secundariLight
		vertical-align top
		margin 3px 5px 0 0 
	label
		// background green
		margin 0
		display inline-block
		width 80%
		vertical-align top

.Form-cta
	padding 0 0 80px 0 
	
.Answer-input
	height 47px
	font-size 13px
	width 32%
	margin-top 10px
	margin-right 3%
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box

.Answer-cta
	display inline-block
	width 30%
	float right
	position relative
	top -50px

.button
	border none
	border-radius 4px
	color white
	font-size 1.3em
	font-weight bold
	letter-spacing -.01em
	padding .6em .75em
	box-shadow inset 0 -2px rgba(0,0,0,0.3)
	text-decoration none
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	transition 0.2s
	-webkit-transition 0.2s
	background #ff4842
	color white
	&:hover
		background #7dcd40
		color white
	
.Payment-details
	padding 20px 0 15px 20px
	p
		font-size 14px
		font-weight 200
		line-height 21px


// FAQ	

.Faq-list
	padding 30px 0 10px 

.Faq-item
	padding 20px 0 70px 0
	border-bottom border
	h2
		font-size 18px
		font-weight bold
		line-height 23px
	p
		font-weight 200
		font-size 16px
		line-height 21px
		
.Faq-itemSpecial
	padding 15px 0 0 0 
	ul
		margin 0 0 0 30px
		li
			padding 16px 0 0 0 
			span
				font-style italic


// Acerca de

.Team-list
	padding 30px 0 10px

.Team-item
	padding 10px 0 20px 0 
	h2
		font-weight bold
		font-size 31px
	h3
		font-weight bold
		font-size 21px
	

















