

// NextEvent

.NextEvent-date
	width 3em
	
.NextEvent-title
	font-size 1.5em


// CourseBanner

.CourseBanner-title
	font-size 2em
	
.Learn-img		
	height 270px


// Details

.Details-group
	display inline-block
	width 80%
	background rgba(black,.07)
	padding 15px
	margin 15px 0 0 0
	border-radius 10px
	border border
	
.Descount-PackImgA
	height 65px
	
.Descount-PackImgB
	height 65px
