

// Course page =======================================

// CourseHero

// =============================

.LandingCourse
	background-position-y top
	background-size cover
	padding 70px 0 70px 0


// =============================

.courseLanding
	padding 0 40px

.coursHero-logo
	width 148px
	width 25%
	img 
		width 148px 
	
.coursContent
	width 70%
	padding 0
		
.Title-A
	font-size 36px
	line-height 43px
	padding 0 0 15px 0
	
.coursContent-detail
	font-size 18px
	line-height 23px
	
.LandingCourse-cta
	margin 30px 0 0 168px
	

// CourseDetails

.CourseDetails
	padding 20px 0 40px 0 

.CourseDetails-detailContainer
	width 25%	

.CourseDetails-idealFor
	width 73%
	padding 0 15px 0 0 
	
.idealFor-detail
	font-size 16px
	line-height 23px
	margin 0