
body
	background none
	
.Mariposa-afic
	width 70px
	height 70px
	background red
	background url(../img/mariposa.png)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y top
	position absolute
	right 15px
	top 130px
	z-index 1
	display block



// MainSection
	
.MainSection-message
	display none
		


// CourseList

.course-conteiner
	padding-top 60px
	padding-bottom 60px
	
.course-float
	display flex
	flex-wrap wrap
	justify-content flex-satrt

.course
	width 48%
	margin-right 20px
	&:nth-child(even)
		margin-right 0
	&:last-child 
		margin-bottom 40px
	
	
.course-logo
	width 73px
	height auto



// CourseBanner

.CourseBanner-title
	text-align center

.Main-CourseBanner-title
	font-size 2.56em


.Tab-container
	display inline-block
	width 49%
	vertical-align top
	overflow hidden
	&:nth-child(odd)
		padding-right 15px
	&:nth-child(even)
		padding-left 15px
		
.Tab-container-single
	display inline-block
	vertical-align top
	overflow hidden
	&:nth-child(odd)
		padding-right 15px
		width 60%
	&:nth-child(even)
		padding-left 15px
		width 39%

.Tab-option--afic
	width 300px
	height 300px
	background url(../img/mariposa.png)
	background-repeat no-repeat
	background-size 50%
	background-position-x 30%
	background-position-y 60px

// Mailchimp

.Newsletter-formTitle
	max-width 80%
	font-size 1.5em
	line-heigt 1.3em
	font-size 400
	padding 0 
	
.Newsletter
	text-align center
	display block
	padding 0
	
.Newsletter-formTitle
	margin 0 auto
	
.Newsletter-inputs
	padding 20px 0
	input
		display inline-block
		width 30%

	

// Footer	

.Footer
	padding 30px 0 130px 0px

.Footer-columnSmall
	width 40%
	border-right 1px solid rgba(white,.1)
	border-bottom none

.Footer-columnBig
	margin 0
	width 50%
	padding 0 15px 0 0 



// Course page =======================================

.Course-mainSection
	padding 30px 0 50px 0

.ammaHero
	background url(../img/hero/amma-small.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y center

// CourseDetails

.CourseDetails-container
	width 25%	
	
.CourseDetails-idealFor
	padding 0 
	width 73%

.idealFor-title
	font-size 36px


// Learn

.Box
	background none
	margin 0
	border-radius none
	box-shadow none

.Learn-imgQuiroPresencial	
	width 60%
	height 350px
	top 100px

.Learn-imgNaturopatia
	width 100%
	height 670px
	top 90px
	display block
	background url(../img/naturopatia2.png)
	background-repeat no-repeat
	background-position-x 50% 
	background-position-y 0
	background-size 100%
	// width 100%
	// height 240px
	position relative
	// top 30px
	display block
	margin 0 auto



// acercaDe page =======================================


// MainSection

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 220px 0



// Index

.Index
	position relative
	

.Banner-inscripcion--team
	background #e8e8e8
	text-align center
	font-size 0
	height 300px

.Hero-team
	display inline-block
	background url(../img/hero/equipo-big.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 100%
	max-width 630px
	height 320px



// Profesores


.Teachers-container
	text-align center

.TeamTeachers
	h2
		max-width 550px
		margin 0 auto
		padding-right 60px
		padding-bottom 60px

.TeamTeachers-one
	display inline-block
	width 48%
	vertical-align top
	text-align left
	&:nth-child(odd)
		margin-right 16px

.TeamTeachers-last
	display block
	width 48%	


// Teachers


.Teacher-face--Salva
	background url(../img/profes/salva-face-big.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Amanda
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/amanda-face-big.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Ferran
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/ferran-face-big.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Elisabet
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/elisabet-face-big.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Sandy
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/sandy-face-big.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	
.Teacher-face--Pere
	width 200px
	height 200px
	border-radius 50%
	background url(../img/profes/pere-face-big.jpg)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y bottom
	

.In-this
	display block
	margin-bottom -38px
	










