
// MainSection
	
.MainSection-title
	padding 70px 20px 40px 0
	
.MainSection-message
	display none
	

// NextEvent

.NextEvent-date
	width 3em

.NextEvent-title
	font-size 1.5em


// CourseBanner

.CourseBanner-title
	font-size 2.562em

	
// CourseList

.CourseList
	padding 35px 0 

.CourseList-list
	margin 0

.CourseList-course
	width 48%
	padding 50px 0
	margin 0 0 0 20px
	vertical-align top
	&:nth-child(odd)
		margin-left 0
		
.agujasIntradermicas-small
.amma-small
.ampuku-small
.aromaterapia-small
.champi-small
.cosmeticaNatural-small
.crecimientoPersonal-small
.cyriax-small
.drenajeLinfatico-small
.estiramientosThai-small
.floresBach-small
.kinergeticsReset-small
.kinesiologiaIntegrada-small
.moxibustion-small
.naturopatia-small
.piedras-small
.pindas-small
.quiromasaje-small
.quiromasajeSuperior-small
.reflexologia-small
.auriculoterapia-small
.registrosAkashicos-small
.reiki-small
.shiatsuFacial-small
.vendajeNeuromuscular-small
.naturopatia-small
	transform: scale(.45, .45);
	-ms-transform: scale(.45, .45);
	-webkit-transform: scale(.45, .45);
	display inline-block
	margin 0 0 0 -3em
	position relative
	top 20px
	



// Mailchimp

.Newsletter-formTitle
	max-width 80%
	font-size 1.5em
	font-size 400
	padding 0 
	
.Newsletter
	text-align center
	display block
	
.Newsletter-inputs
	padding 20px 0
	

// Footer	

.Footer
	padding 30px 0 130px 0px

.Footer-columnSmall
	width 40%
	border-right 1px solid rgba(white,.1)
	border-bottom none

	
.Footer-columnBig
	margin 0
	width 50%
	padding 0 15px 0 0 



// Course page =======================================

.Course-mainSection
	padding 30px 0 50px 0


// CourseDetails

.CourseDetails-container
	width 25%	
	
.CourseDetails-idealFor
	padding 0 
	width 73%

.idealFor-title
	font-size 36px


// Learn

.Learn-imgQuiroPresencial	
	width 80%
	height 400px
	top 50px
	


// acercaDe page =======================================


// MainSection

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 220px 0


// Learn

// .Learn-img	
// 	height 670px	
// 	top 90px
	

// Index

.Index
	position relative
	
.Index-container
	width 48%
	background white
	border 1px solid c_borde
	border-radius 5px
	padding 30px 20px 60px 20px
	display inline-block
	vertical-align top
	position relative 
	right -1.5%





