

// MainSection

.MainSection-title
	line-height 1.3em
	font-size 31px
	line-height 38px


// Course page =======================================

// CourseHero

.naturopatiaHero
	background url(../img/hero/naturopatia-big.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.Course-logo
	width 146px
	height 146px
	
.Course-mainSectionDetail
	margin 0 0 0 200px
	
.Title-A
	color white
	font-size 36px
	font-weight bold
	line-height 43px
	margin 0 0 15px 0 
	
.Course-detail
	font-size 18px
	line-height 23px
	margin 20px 0 15px 0
	
.Course-mainSectionCTA
	margin 30px 0 0 200px
	

// Learn

.Learn
	padding 50px 0 
	
.Learn-left
	display inline-block
	width 75%
	text-align left

.Learn-title
	font-weight 400
	font-size 31px
	padding 0 0 5px 0 
	
.Learn-list
	padding 30px 0 0 0 

.Learn-right
	width 20%
	vertical-align top
	padding 0 0 0 15px
