

// MainSection

.MainSection
	background url(../img/hero/home-big.jpg)
	background-repeat no-repeat
	background-position center top
	background-size cover
	padding 140px 0 140px 0
	position relative
	z-index 0
	animation animationHero 20s infinite
	-webkit-animation animationHero 20s infinite
	
@keyframes animationHero
	0%
		background url(../img/hero/home-big.jpg)
		background-repeat no-repeat
		background-position center top
		background-size cover
		padding 140px 0 140px 0
		position relative
		z-index 0
	33%
		background url(../img/hero/home2-big.jpg)
		background-repeat no-repeat
		background-position center top
		background-size cover
		padding 140px 0 140px 0
		position relative
		z-index 0
	66%
		background url(../img/hero/home3-big.jpg)
		background-repeat no-repeat
		background-position center top
		background-size cover
		padding 140px 0 140px 0
		position relative
		z-index 0
	100%
		background url(../img/hero/home-big.jpg)
		background-repeat no-repeat
		background-position center top
		background-size cover
		padding 140px 0 140px 0
		position relative
		z-index 0


.MainSection-title
	font-weight bold
	font-size 61px
	color white
	text-shadow 0 0 10px rgba(black,.3)
	padding 20px 0 0 0 

.MainSection-subTitle
	display inline-block
	color white
	font-weight 600
	text-shadow 0 0 10px rgba(black,.3)
	margin 0
	padding 0 0 40px 0
	font-size 28px
	line-height 35px



// NextEvent

.NextEvent
	padding 35px 0 40px 0

.NextEvent-right
	margin 0 0 0 90px
	
.NextEvent-left
	top -50px

	
.NextEvent-logo
	top 0px
	
.NextEvent-title
	font-size 28px
	font-weight 600
	line-height 20px
	letter-spacing -1px


// Course page =======================================

// CourseHero

.quiromasajePresencialHero
	background url(../img/hero/quiromasaje-presencial-big.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top

.naturopatiaHero
	background url(../img/hero/naturopatia-big.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y top
	
.acercaDe
	background url(../img/equipo.png)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 80px
	

// ==============================

.Course-logo
	width 146px
	height 146px
	
.Course-mainSectionDetail
	margin 0 0 0 200px
	
.Title-A
	color white
	font-size 36px
	font-weight bold
	line-height 43px
	margin 0 0 15px 0 
	
.Course-detail
	font-size 18px
	line-height 23px
	margin 20px 0 15px 0
	
.Course-mainSectionCTA
	margin 30px 0 0 200px
	

// Learn

.agujasIntradermicas-smallRecomended
.amma-smallRecomended
.ampuku-smallRecomended
.aromaterapia-smallRecomended
.champi-smallRecomended
.cosmeticaNatural-smallRecomended
.crecimientoPersonal-smallRecomended
.cyriax-smallRecomended
.drenajeLinfatico-smallRecomended
.estiramientosThai-smallRecomended
.floresBach-smallRecomended
.kinergeticsReset-smallRecomended
.kinesiologiaIntegrada-smallRecomended
.moxibustion-smallRecomended
.piedras-smallRecomended
.pindas-smallRecomended
.quiromasaje-smallRecomended
.quiromasajeSuperior-smallRecomended
.reflexologia-smallRecomended
.auriculoterapia-smallRecomended
.registrosAkashicos-smallRecomended
.reiki-smallRecomended
.shiatsuFacial-smallRecomended
.vendajeNeuromuscular-smallRecomended
.naturopatia-smallRecomended
	transform: scale(.35, .35);
	-ms-transform: scale(.35, .35);
	-webkit-transform: scale(.35, .35);
	margin -55px 0 0 -3em





// acercaDe page =======================================


// MainSection

.Team
	padding 30px 0 50px 0

.Team-mainSection
	padding 20px 0 10px 0

.Team-mainTitle
	font-size 61px

.Team-title
	font-size 28px
	line-height 33px
	font-weight 600
	font-weight bold
	margin 20px 0 30px 0
	
.Team-sectionTitle
	font-size 31px
	line-height 36px
	margin 20px 0 30px 0
	
.Team-mainSectionDescription
	text-align center
	
.Welcome-content
	font-size 16px
	font-weight 600


// CourseDetails

.CourseDetails-contentSmall
	font-size 31px
	line-height 28px
	letter-spacing -1.5px


// Learn

.LearnShort
	padding-bottom 0

.Learn-listContainer
	display inline-block 
	width 70%
	padding 0 30px 0 0
	vertical-align top
	
.Learn-recomended
	display inline-block 
	width 25%
	vertical-align top
	position relative
	top -25px

.Learn-recomendedItem
	margin 0 0 15px 0

.CourseList
	padding-bottom 80px

.CourseList-courseRecomended
	min-height 80px
	padding 0 

.quiromasaje-smallRecomended	
.naturopatia-smallRecomended
	margin -60px 0 0 -3em
	
.Learn-recomendedTitle
	font-size 16px

.Secundary-title
	padding-bottom 50px

// .Learn-imgNaturopatia
// 	display block
// 	background url(../img/naturopatia2.png)
// 	background-repeat no-repeat
// 	background-position-x 50% 
// 	background-position-y 0
// 	background-size 100%
// 	width 100%
// 	height 240px
// 	position relative
// 	top 30px
// 	display block
// 	margin 0 auto

// Index

.Index
	min-height 700px
	padding-bottom 90px

.Index-img
	display inline-block
	vertical-align middle
	width 50%
	padding 100px 0
	img
		width 115%
		position relative
		left -8%
	

// Details

.Details-list
	display inline-block
	width 100%
	text-align center
	.active
		display inline-block
		width 30% 
		font-weight bold
		font-size 24px
		margin 0 
		a
			width 100% 
			display inline-block
			height 70px
			border-radius 10px 10px 0 0 
			border none
			color white
			line-height 70px
	
.Details-item
	display inline-block
	width 30% 
	margin 0  
	font-size 24px
	transition .2s
	-webkit-transition .2s
	a
		width 100% 
		display inline-block
		height 60px
		border-radius 10px 10px 0 0 
		background rgba(black,.1)
		color rgba(black,.5)
		line-height 60px	
	span 
		display inline-block

.Section-titleDetails
.Section-titlePrice
	text-align center

// .Details-containerContent
// 	width 80%
// 	display inline-block

.Details-contentCTA--title
	display inline-block
	padding 0 20px 0 0 
	font-size 28px

.Detail-timeSecond
	text-align left

.Details-content
	text-align center

.Tab-option
	width 48%
	margin 20px 10px 0 0 
	vertical-align top
	// box-shadow 0 1px 25px rgba(black,.2)

.Tab-optionB
	margin 20px 0 0 0 
	
.Tab-cta
	padding 50px 0 20px 0

.Tab-ctaTitle
	font-size 28px
	width 40%
	text-align right
	
.btn-container
	width 25%
	padding 20px 0


// Answer

.Answer
	text-align center

.Answer-item
	display inline-block

.Answer-item
	display inline-block
	width 35%	

.Answer-detail
	text-align center
	h3
		font-size 34px
		padding 24px 0 
	p
		max-width 500px
		margin 0 auto


// Price

.Price-container
	max-width 100%

.Price-logo
	width 45%
	border-right border
	padding 0 50px 0 0 

.Banner
	width 50%
	max-width 360px
	float right
	padding 0 0 0 10px
	margin 0
	
.Price-CourseName
	// display inline-block
	// text-align right
	font-size 24px 
	font-weight bold
	// width 45%
	line-height 24px

.Price-CourseAmount
	font-size 54px 
	span
		font-size 26px

.Last-cta
	padding-top 50px

// .Price-item
// 	padding 20px 0 0 0

// Descount

.Descount-Pack
	padding 20px 10px 10px 10px 
	vertical-align top
	
.Descount-list
	padding 20px 0 0 0
	text-align center



// Inscripcion

.Inscripcion-input
	height 47px

.Form-personalContainer
	text-align center

.Personal-email
.Personal-telf
.Personal-name
	margin 0 4px
	width 32%
	display inline-block
	
.Personal-telf
	margin-right 0
	
.Toggle-title
	line-height 37px
	
.Icon-list
	top 7px
	
.Icon-arrow
	top 7px
	
.paymentMethode
	height 47px
	


// FAQ	

.Faq-list
	padding 30px 0 50px 0 
	max-width 550px
	margin 0 auto

.Faq-item
	padding 20px 0 70px 0
	border-bottom border
	&:last-child
		border-bottom none
	h2
		font-size 18px
		font-weight bold
		line-height 23px
	p
		font-weight 200
		font-size 16px
		line-height 21px
		
.Faq-itemSpecial
	padding 15px 0 0 0 
	ul
		margin 0 0 0 30px
		li
			padding 16px 0 0 0 
			span
				font-style italic
				

// Acerca de

.Team-list
	max-width 550px
	margin 0 auto 























