

// MainSection

.MainSection-title
	line-height 1.3em
	font-size 31px
	line-height 38px


// Course page =======================================

// CourseHero



.Course-logo
	width 146px
	height 146px
	
.Course-mainSectionDetail
	margin 0 0 0 200px
	
.Title-A
	color white
	font-size 36px
	font-weight bold
	line-height 43px
	margin 0 0 15px 0 
	
.Course-detail
	font-size 18px
	line-height 21px
	margin 20px 0 15px 0
	
.Course-mainSectionCTA
	margin 30px 0 0 200px
	

