
// Header

.Header
	background rgba(#13140a,.3)
	height 80px
	position relative
	z-index 3

.Header-container
	background none
	position relative
	z-index 1
	
.MainMenu-icon 
	display none

.MainMenu
	display inline-block
	float right
	position relative
	top -70px
	right 15px
	z-index 5
	
.MainMenu-container
	background none
	text-align right

.MainMenu-option
	display inline-block
	width auto
	// max-width 50px
	line-height 1.3em
	margin 0 12px
	text-align left
	&:last-child
		margin-right 0
	
.MainMenu-link
	padding 0 0 20px 0 
	font-weight bold
	font-size 18px
	&:hover
		border-bottom 5px solid primari
		color white


// MainSection

.MainSection
	background url(../img/hero/home-big.jpg)
	background-repeat no-repeat
	background-position center top
	background-size cover
	padding 140px 0 140px 0
	position relative
	top -80px
	z-index 0

.MainSection-message
	display block
	position absolute
	top 0 
	right 30px
	
.MainSection-title
	width 65%
	
.MainSection-ctaContainer
	display block
	

// NextEvent

.NextEvent
	display block
	margin -5em 0 0 0 
	
	
.NextEvent-date
	width 3em

.NextEvent-title
	font-size 1.5em



// CourseBanner

.CourseBanner-title
	font-size 61px
	padding 10px 100px 0px 100px
	line-height 1em
	letter-spacing -2px
	

// CourseNavigation
	
.CourseNavigation
	max-width 700px


// CourseList

.CourseList
	padding 35px 0 

.CourseList-list
	margin 0
	padding

.CourseList-course
	width 31.5%
	padding 50px 0
	margin 0 0 0 20px
	vertical-align top
	&:nth-of-type(1)
		margin-left 0
	&:nth-of-type(3n+1)
		margin-left 0
		
.agujasIntradermicas-small
.amma-small
.ampuku-small
.aromaterapia-small
.champi-small
.cosmeticaNatural-small
.crecimientoPersonal-small
.cyriax-small
.drenajeLinfatico-small
.estiramientosThai-small
.floresBach-small
.kinergeticsReset-small
.kinesiologiaIntegrada-small
.moxibustion-small
.naturopatia-small
.piedras-small
.pindas-small
.quiromasaje-small
.quiromasajeSuperior-small
.reflexologia-small
.auriculoterapia-small
.registrosAkashicos-small
.reiki-small
.shiatsuFacial-small
.vendajeNeuromuscular-small
.naturopatia-small
	transform: scale(.45, .45);
	-ms-transform: scale(.45, .45);
	-webkit-transform: scale(.45, .45);
	display inline-block
	margin 0 0 0 -3em
	position relative
	top 20px
	


// Mailchimp

.Newsletter
	display block
	padding 50px 0
	

// Footer

.Footer
	padding 30px 0 80px 0px

.Footer-columnSmall
	width 35%
	border-right 1px solid rgba(white,.1)
	border-bottom none
	
.Footer-columnBig
	margin 0
	width 50%


// Course page =======================================

// CourseHero

// =============================

.Course-mainSection
	padding 170px 0 120px 0
	position relative
	top -80px
	margin 0 0 -80px 0
	

// CourseDetails

.CourseDetails
	padding 20px 0 50px 0 

.CourseDetails-container
	width 60%	
	
.CourseDetails-item
	display inline-block
	text-align center
	width 30%
	vertical-align top
	
.CourseDetails-idealFor
	padding 0 
	width 38%

.idealFor-title
	font-size 36px

.duration
	&:after
		font-family icomoon
		content "\e950"
		font-size 64px
		margin 25px 0 0 0
		display block
		
.location
	&:after
		font-family icomoon
		content "\e602"
		font-size 64px
		margin 25px 0 0 0
		display block
		
.diploma
	&:after
		font-family icomoon
		content "\e607"
		font-size 64px


// acercaDe page =======================================


// MainSection

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 300px 0 
	position relative
	top -80px
	z-index 0
	margin 0 0 -80px 0 



	

