
.Mariposa-afic
	width 100px
	height 100px
	background red
	background url(../img/mariposa.png)
	background-repeat no-repeat
	background-size 100%
	background-position-x center
	background-position-y top
	position absolute
	right 60px
	top 150px
	z-index 1
	display block

// Header

.Header
	background rgba(#13140a,.3)
	height 80px
	position relative
	z-index 3
	
.Header-container
	background none
	position relative
	z-index 1
	
.MainMenu-icon 
	display none

.MainMenu
	display inline-block
	float right
	position relative
	top -70px
	right 15px
	z-index 5
	
.MainMenu-container
	background none
	text-align right

.MainMenu-option
	display inline-block
	width auto
	// max-width 50px
	line-height 1.3em
	margin 0 12px
	text-align left
	&:last-child
		margin-right 0
	a
		&:hover
			text-decoration none
			
	
.MainMenu-link
	padding 0 0 20px 0 
	font-weight bold
	font-size 18px
	&:hover
		border-bottom 5px solid primari
		color white

.MainMenu-link.active
	border-bottom 5px solid afic
	

// MainSection

.MainSection
	top -80px
	z-index 0
	position relative
	
.MainSection-message
	display block
	position absolute
	top 0 
	right 30px
	
.MainSection-subTitle
	width 65%
		
.MainSection-ctaContainer
	display block

.Title-A
	color white
	font-size 53px
	font-weight bold
	line-height 55px
	margin 0 0 15px 0 	

// NextEvent

.NextEvent
	display block
	margin -5em 0 0 0 
	

// Promo

.PromoCourse
	text-align left
	position relative
	padding 30px 20px 40px 20px
	top -80px
	
.PromoCourse-img
	display none

.PromoCourse-copy
	display inline-block
	width 70%

.PromoCourse-save
	padding 0px 0 0 0 
	font-weight 700
	color white

.PromoCourse-ctaContainer
	padding 20px 0 0 0 
	display inline-block
	margin 0 0 0 50px

.PromoCourse-page
	position relative
	top 0px	
	

// CourseNavigation
	
.CourseNavigation
	max-width 700px



// CourseList

.course-conteiner
	padding-top 80px
	padding-bottom 80px

.course-float
	display flex
	flex-wrap wrap
	justify-content flex-satrt

.course
	width 31.8%
	margin-right 20px
	margin-top 20px
	&:nth-child(3n)
		margin-right 0

	
.course-logo
	width 73px
	height auto
	
.otrosLogo
	width 73px
	height 73px
	

.otrosLogo
	&:after
		line-height 2.7em



// Mailchimp

.Newsletter
	display block
	padding 20px 0
	
.Newsletter-formTitle
	display inline-block
	width 45%
	text-align right
	font-size 21px
	padding 10px 15px 0 40px
	max-width 460px
	
.Newsletter-formContainer
	display inline-block
	width 50%
	
.Newsletter-inputs
	input
		width 30%

// Footer

.Footer
	padding 30px 0 80px 0px

.Footer-columnSmall
	width 35%
	border-right 1px solid rgba(white,.1)
	border-bottom none
	
.Footer-columnBig
	margin 0
	width 50%


// Course page =======================================

// CourseHero

.Course-mainSectionDetail
	padding-left 100px

.Course-mainSection
	padding 170px 0 120px 0
	position relative
	top -80px
	margin 0 0 -80px 0

// =============================	


// .Course-mainSectionContanier
// 	padding 0 0 0 100px

// Learn

.Learn-imgQuiroPresencial	
	width 45%
	height 350px
	top 120px
	
.Learn-imgNaturopatia
	display block
	width 75%
	height 600px
	top 60px
	
.Learn-imgNaturopatia
	// width 100%
	height 670px
	top 90px
	display block
	background url(../img/naturopatia2.png)
	background-repeat no-repeat
	background-position-x 50% 
	background-position-y 0
	background-size 100%
	// width 100%
	// height 240px
	position relative
	// top 30px
	display block
	margin 0 auto


// CourseDetails

.Course-logo
	width 146px
	height 146px
	margin-left 10px

.CourseDetails-container
	padding-bottom 0
	width 55%	
	text-align left

.CourseDetails-container2
	padding-bottom 0
	display inline-block
	vertical-align top
	width 68%	
	text-align left
	
.CourseDetails-idealFor
	padding 0 
	width 44%
	padding-left 30px
	text-align left
	
.CourseDetails-idealFor2
	display inline-block
	vertical-align top
	padding 0 
	width 31%
	padding-left 30px
	text-align left
	
.Details-devider
	display inline-block
	vertical-align top
	width 32%
	text-align center
	
.Details-devider2
	display inline-block
	vertical-align top
	width 24%
	text-align center

.CourseDetails-item
	text-align center
	margin 0
	min-height 105px
	
.CourseDetails-title
	padding-bottom 5px
	
.idealFor-title
	font-size 36px

.certificate
	text-align center
	
.courseDetailsRelated-conteiner
	display flex
	
	

// .CourseDetails 

.duration
	display block
	&:after
		font-family icomoon
		content "\e950"
		font-size 64px

.location
	display inline-block
	&:after
		font-family icomoon
		content "\e602"
		font-size 64px
		display block
		
.diploma
	display inline-block
	&:after
		font-family icomoon
		content "\e601"
		font-size 64px
		
.incluye
	display inline-block
	&:after
		font-family icomoon
		content "\e608"
		font-size 64px
		position relative
		top 5px


// MainSection

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 300px 0 
	position relative
	top -80px
	z-index 0
	margin 0 0 -80px 0 

.Main-CourseBanner-title
	font-size 61px
	letter-spacing -2px
	

// Inscripcion

.CourseBanner-titleForm
	font-size 41px
	line-height 46px
	text-align left
	padding 30px 0 0px 0
	
.CourseBanner-descriptionForm
	text-align left	
	
.Header-noHero
	background rgba(#716b5c,1)


.Banner-inscripcion--team
	background #e8e8e8
	text-align center
	font-size 0
	height 483px

.Hero-team
	display inline-block
	background url(../img/hero/equipo-big.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y -30%
	background-size 100%
	width 100%
	max-width 930px
	height 620px

.Teachers-container
	text-align center

.TeamTeachers
	h2
		max-width 550px
		margin 0 auto
		padding-right 60px
		padding-bottom 60px

.TeamTeachers-one
	display inline-block
	width 31%
	vertical-align top
	text-align left
	margin-right 16px

.TeamTeachers-last
	display block
	width 31%	

.In-this
	margin-left -35px
	margin-bottom -45px
	transform: scale(.8, .8);
	-ms-transform: scale(.8, .8);
	-webkit-transform: scale(.8, .8);
				



// Pagina landing osteopatia
.title-main
	text-align center
	
.landing-feedCourses
	padding-top 60px
	padding-bottom 60px

.feedCourses-course
	padding-bottom 50px













