
// Header

.Header
	background rgba(#13140a,.3)
	height 80px
	position relative
	z-index 3
	
.Header-container
	background none
	position relative
	z-index 1
	
.MainMenu-icon 
	display none

.MainMenu
	display inline-block
	float right
	position relative
	top -70px
	right 15px
	z-index 5
	
.MainMenu-container
	background none
	text-align right

.MainMenu-option
	display inline-block
	width auto
	// max-width 50px
	line-height 1.3em
	margin 0 12px
	text-align left
	&:last-child
		margin-right 0
	
.MainMenu-link
	padding 0 0 20px 0 
	font-weight bold
	font-size 18px
	&:hover
		border-bottom 5px solid primari
		color white


// MainSection

.MainSection
	top -80px
	z-index 0
	position relative
	

.MainSection-message
	display block
	position absolute
	top 0 
	right 30px
	
.MainSection-subTitle
	width 65%
		
.MainSection-ctaContainer
	display block
	

// NextEvent

.NextEvent
	display block
	margin -5em 0 0 0 
	


// Promo

.PromoCourse
	text-align left
	position relative
	padding 30px 20px 40px 20px
	top -80px
	
.PromoCourse-img
	display none

.PromoCourse-copy
	display inline-block
	width 70%

.PromoCourse-save
	padding 0px 0 0 0 
	font-weight 700
	color white

.PromoCourse-ctaContainer
	padding 20px 0 0 0 
	display inline-block
	margin 0 0 0 50px

.PromoCourse-page
	position relative
	top 0px	
	

// CourseNavigation
	
.CourseNavigation
	max-width 700px


// CourseList

.CourseList
	padding 35px 0 

.CourseList-list
	margin 0
	padding

.CourseList-course
	width 31.5%
	padding 50px 0
	margin 0 0 0 20px
	vertical-align top
	&:nth-of-type(1)
		margin-left 0
	&:nth-of-type(3n+1)
		margin-left 0
		
.agujasIntradermicas-small
.amma-small
.ampuku-small
.aromaterapia-small
.champi-small
.cosmeticaNatural-small
.crecimientoPersonal-small
.cyriax-small
.drenajeLinfatico-small
.estiramientosThai-small
.floresBach-small
.kinergeticsReset-small
.kinesiologiaIntegrada-small
.moxibustion-small
.naturopatia-small
.piedras-small
.pindas-small
.quiromasaje-small
.quiromasajeSuperior-small
.reflexologia-small
.auriculoterapia-small
.registrosAkashicos-small
.reiki-small
.shiatsuFacial-small
.vendajeNeuromuscular-small
.naturopatia-small
	transform: scale(.45, .45);
	-ms-transform: scale(.45, .45);
	-webkit-transform: scale(.45, .45);
	display inline-block
	margin 0 0 0 -3em
	position relative
	top 20px
	


// Mailchimp

.Newsletter
	display block
	padding 20px 0
	
.Newsletter-formTitle
	display inline-block
	width 45%
	text-align right
	font-size 21px
	padding 10px 15px 0 40px
	max-width 460px
	
.Newsletter-formContainer
	display inline-block
	width 50%
	
.Newsletter-inputs
	input
		width 30%

// Footer

.Footer
	padding 30px 0 80px 0px

.Footer-columnSmall
	width 35%
	border-right 1px solid rgba(white,.1)
	border-bottom none
	
.Footer-columnBig
	margin 0
	width 50%


// Course page =======================================

// CourseHero

.Course-mainSection
	padding 170px 0 120px 0
	position relative
	top -80px
	margin 0 0 -80px 0


// =============================	


// Learn

.Learn-imgQuiroPresencial	
	width 45%
	height 350px
	top 120px
	
.Learn-imgNaturopatia
	display block
	width 75%
	height 600px
	top 60px
	
.Learn-imgNaturopatia
	// width 100%
	height 670px
	top 90px
	display block
	background url(../img/naturopatia2.png)
	background-repeat no-repeat
	background-position-x 50% 
	background-position-y 0
	background-size 100%
	// width 100%
	// height 240px
	position relative
	// top 30px
	display block
	margin 0 auto


// CourseDetails

.CourseDetails
	padding 20px 0 50px 0 

.CourseDetails-container
	width 60%	
	
.CourseDetails-item
	display inline-block
	text-align center
	width 30%
	vertical-align top
	
.CourseDetails-title
	padding 0 0 5px 0 
	
.CourseDetails-idealFor
	padding 0 
	width 38%

.idealFor-title
	font-size 36px

.certificate
	text-align center

.duration
	&:after
		margin 45px 0 0 0 
		font-family icomoon
		content "\e950"
		font-size 64px
		display block
		
.location
	&:after
		margin 20px 0 0 0 
		font-family icomoon
		content "\e602"
		font-size 64px
		display block
		
.locationSolo
	&:after
		margin 40px 0 0 0 

		
.diploma
	&:after
		font-family icomoon
		content "\e601"
		font-size 64px
		position relative
		top 5px


// acercaDe page =======================================


// MainSection

.acercaDeHero
	background url(../img/team.jpg)
	background-repeat no-repeat
	background-size cover
	background-position-x center
	background-position-y 100%
	padding 300px 0 
	position relative
	top -80px
	z-index 0
	margin 0 0 -80px 0 


// Index

.Index-container
	width 48%
	background white
	border 1px solid c_borde
	border-radius 5px
	padding 30px 20px 60px 20px
	display inline-block
	vertical-align top
	position relative 
	right -1.5%
	

// Inscripcion

.CourseBanner-titleForm
	font-size 41px
	line-height 46px
	text-align left
	padding 30px 0 0px 0
	
.CourseBanner-descriptionForm
	text-align left	
	
.Header-noHero
	background rgba(#716b5c,1)


// Price

.Promo
	border-top border
	border-bottom border
	margin 0 0 80px 0 
	
.PromoLabel
	display inline-block
	width 200px
	background url(../img/promo.png)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	height 50px
	float left
	
.PromoCopy
	display inline-block
	width 70%
	text-align left
	padding 0 0 0 30px
	font-weight bold
	


// FAQ	


.GoUp-link
	display none

.Faq-buttonList
	display inline-block
	width 30%
	padding 50px 0 0 0 
	float right
	h2
		font-size 16px
		line-height 21px

.Faq-list
	display inline-block
	width 70%
	padding 30px 0 50px 0 
	margin 0 auto
	
.Faq-listContainer
	max-width 550px

.Faq-item
	padding 20px 0 70px 0
	border-bottom border
	
	h2
		font-size 18px
		font-weight bold
		line-height 23px
	p
		font-weight 200
		font-size 16px
		line-height 21px
		
.Faq-itemSpecial
	padding 15px 0 0 0 
	ul
		margin 0 0 0 30px
		li
			padding 16px 0 0 0 
			span
				font-style italic
				


















