
// Footer

.Footer
	text-align center
	padding 20px 0 50px 0px

.Footer-container
	display inline-block
	padding 0 80px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	width 100%

.Footer-column
	display inline-block
	width 45%
	text-align left
	margin 10px 0 30px 0
	&:first-child
		margin 50px 0 0 0

.Footer-logoContainer
	text-align center

.Footer-logo
	display inline-block
	background url(../img/logoVertical.png)
	background-repeat no-repeat
	background-position 0
	width 147px
	height 150px
	background-size: 147px 150px
	
.Footer-network
	text-align center