.Banner-inscripcion--team
	background #e8e8e8
	font-size 0
	height 483px

.Hero-team
	display block
	margin 0 auto
	background url(../img/hero/equipo-big.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y 23%
	background-size 100%
	width 100%
	max-width 930px
	height 620px