
// Footer









// .Footer
// 	text-align center
// 	padding 20px 0 50px 0px

// .Footer-container
// 	display inline-block
// 	// padding 0 80px
// 	box-sizing border-box
// 	-webkit-box-sizing border-box
// 	-moz-box-sizing border-box
// 	width 100%

// .Footer-column
// 	display inline-block
// 	width 30%
// 	text-align center
// 	// margin 10px 0 30px 0
// 	vertical-align top
// 	// &:first-child
// 	// 	margin 50px 0 0 0
	
// .Footer-contactInfo
// 	text-align left
	
// .Footer-extraInfo
// 	text-align left

// .Footer-logoContainer
// 	text-align center

// .Footer-logo
// 	display inline-block
// 	img
// 		width 145.7px
// 		height 107px
	
// .Footer-network
// 	text-align center