/*Importando*/
@import "buttons.styl"
@import "icons_big.styl"
@import "icons_small.styl"

/*Utilities*/
.u-wrapper 
	margin 0 auto
	padding 0 15px
	max-width 1000px
	box-sizing border-box
	position relative
	
	
/*Colors*/

primari = #e34939
secundariLight = #e9e7e3
secundariDark = #262629
c_bodyFont = #292929
c_quiromasaje = #fa9329
c_tecnicasOrientales = #d30014
c_crecimiento = #d9a420
c_drenaje = #418b58
c_ayurveda = #9e0b9d
c_flores = #651a41
c_aromaterapia = #1c959d
c_tecnicasVibracionales = #60162c
c_kinesiologia = #174c48
c_reflexologia = #f3ca08
c_naturopatia = #81ae2f

/*Fonts*/

bodyFont = 'Open Sans', sans-serif


/*@font-face*/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-vup9ry');
    src:url('../fonts/icomoon.eot?#iefix-vup9ry') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.woff?-vup9ry') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.ttf?-vup9ry') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.svg?-vup9ry#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


.paypal
	&:before
		font-family icomoon
		content: "\e604"



.icon-window:before {
	content: "\e606";
}

.icon-pencil:before {
	content: "\e604";
}

.icon-award-fill:before {
	content: "\e601";
}

.icon-pin-alt:before {
	content: "\e602";
}

.icon-alarm:before {
	content: "\e950";
}

.icon-happy:before {
	content: "\e9df";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-box:before {
	content: "\e608";
}

.icon-school:before {
	content: "\e607";
}

.icon-menu:before {
	content: "\e120";
}

.icon-phone:before {
	content: "\f095";
}

.icon-envelope:before {
	content: "\f0e0";
}

.icon-calendar-o:before {
	content: "\f133";
}

.icon-group:before {
	content: "\e603";
}

.icon-star:before {
	content: "\f005";
}

		

// Break points ====================================

// Vista iPhone 4/5
@import "bp1.styl"

// Vista iPhone 6
@media only screen and (min-width: 321px) and (max-width: 399px)
	@import "bp2.styl"

// // Vista iPhone 6 Plus
@media only screen and (min-width: 400px) and (max-width: 700px)
	@import "bp3.styl"
	
// // // Vista iPad portrate
@media only screen and (min-width: 701px) and (max-width: 1000px)
	@import "bp4.styl"

// // Vista escritorio
@media only screen and (min-width: 1001px)
	@import "bp5.styl"






