/*Importando*/
@import "buttons.styl"
@import "icons_big.styl"
@import "icons_small.styl"
@import "mailchimp.styl"

/*Utilities*/
.u-wrapper 
	margin 0 auto
	padding 0 15px
	max-width 1000px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	position relative

.u-wrapperNoPadding
	margin 0 auto
	max-width 1000px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	position relative
	
.u-clearfix
	zoom: 1
	
.u-verticalContent
	display table-cell
	vertical-align middle
	
.u-verticalCenter
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	display table
	width 100%
	
.Title-A
	font-size 36px
	font-weight bold

	
/*Colors*/

primari = #e34939
secundari = c_naturopatia
afic = #f78000
secundariLight = #e9e7e3
secundariDark = #262629
c_bodyFont = #292929
c_quiromasaje = #b31609
c_tecnicasOrientales = #d21b44
c_crecimiento = #f19833
c_drenaje = #3f7647
c_ayurveda = #8a308f
c_flores = #651a41
c_aromaterapia = #52949a
c_tecnicasVibracionales = #8a133a
c_kinesiologia = #1e6a61
c_reflexologia = #f1be33
c_naturopatia = #7cbb00

/*Fonts*/

bodyFont = 'Open Sans', sans-serif


/*@font-face icoMoon*/

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebas/BebasNeue Bold-webfont.eot');
    src: url('../fonts/bebas/BebasNeue Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BebasNeue Bold-webfont.woff2') format('woff2'),
         url('../fonts/bebas/BebasNeue Bold-webfont.woff') format('woff'),
         url('../fonts/bebas/BebasNeue Bold-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BebasNeue Bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebas/BebasNeue Light-webfont.eot');
    src: url('../fonts/bebas/BebasNeue Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BebasNeue Light-webfont.woff2') format('woff2'),
         url('../fonts/bebas/BebasNeue Light-webfont.woff') format('woff'),
         url('../fonts/bebas/BebasNeue Light-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BebasNeue Light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebas/BebasNeue Regular-webfont.eot');
    src: url('../fonts/bebas/BebasNeue Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BebasNeue Regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas/BebasNeue Regular-webfont.woff') format('woff'),
         url('../fonts/bebas/BebasNeue Regular-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BebasNeue Regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebas/BebasNeue Thin-webfont.eot');
    src: url('../fonts/bebas/BebasNeue Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BebasNeue Thin-webfont.woff2') format('woff2'),
         url('../fonts/bebas/BebasNeue Thin-webfont.woff') format('woff'),
         url('../fonts/bebas/BebasNeue Thin-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BebasNeue Thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face icoMoon*/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-vup9ry');
    src:url('../fonts/icomoon.eot?#iefix-vup9ry') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.woff?-vup9ry') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.ttf?-vup9ry') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.svg?-vup9ry#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


.paypal
	&:before
		font-family icomoon
		content: "\e604"



.icon-window:before {
	font-family icomoon
	content: "\e606";
}

.icon-pencil:before {
	font-family icomoon
	content: "\e604";
}

.icon-award-fill:before {
	font-family icomoon
	content: "\e601";
}

.icon-pin-alt:before {
	font-family icomoon
	content: "\e602";
}

.icon-alarm:before {
	font-family icomoon
	content: "\e950";
}

.icon-happy:before {
	font-family icomoon
	content: "\e9df";
}

.icon-plus:before {
	font-family icomoon
	content: "\ea0a";
}

.icon-box:before {
	font-family icomoon
	content: "\e608";
}

.icon-school:before {
	font-family icomoon
	content: "\e607";
}

.icon-menu:before {
	font-family icomoon
	content: "\e120"
}

.icon-phone:before {
	font-family icomoon
	content: "\f095";
}

.icon-envelope:before {
	font-family icomoon
	content: "\f0e0";
}

.icon-calendar-o:before {
	font-family icomoon
	content: "\f133";
}

.icon-group:before {
	font-family icomoon
	content: "\e603";
}

.icon-star:before {
	font-family icomoon
	content: "\f005";
}

.icon-youtube4:before {
	font-family icomoon
	content: "\ea9a";
}

.icon-twitter:before {
	font-family icomoon
	content: "\f099";
}

.icon-facebook:before {
	font-family icomoon
	content: "\f09a";
}

.icon-keyboard-arrow-right:after {
	font-family icomoon
	content: "\e600";
}
		

// Break points ====================================

// Vista iPhone 4/5
@import "bp1.styl"

// Vista iPhone 6
@media only screen and (min-width: 321px) and (max-width: 399px)
	@import "bp2.styl"

// Vista iPhone 6 Plus
@media only screen and (min-width: 400px) and (max-width: 700px)
	@import "bp3.styl"
	
// Vista iPad portrate
@media only screen and (min-width: 701px) and (max-width: 1000px)
	@import "bp4.styl"

// Vista escritorio
@media only screen and (min-width: 1001px)
	@import "bp5.styl"

// Vista medium/big
@media only screen and (min-width: 701px) 
	@import "bp6.styl"




