
.logoBig
	display block
	
.logoSmall
	display none
	
.Banner-inscripcion--team
	background #e7e7e7
	text-align center
	font-size 0
	height 190px

.Hero-team
	display inline-block
	background url(../img/hero/equipo-small.jpg)
	background-repeat no-repeat
	background-position-x top
	background-position-y top
	background-size 100%
	width 100%
	max-width 400px
	height 200px