
.Newsletter
	padding 30px 0

.Newsletter-formTitle
	font-family arial
	display inline-block
	max-width 50%
	vertical-align top
	font-size 1.125em
	font-weight 600
	margin 0
	padding 0 15px 0 84px
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	
.Newsletter-formContainer
	display inline-block
	vertical-align top
	font-size 0
	
.Newsletter-input
	height 37px
	font-size 13px
	width 32%
	margin-top 10px
	margin-right 3%
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box

.input-A
	background #e9e7e3
	border-radius 5px
	border 1px solid #c9c9c9
	color #8d8d8d
	padding 0 15px

.Newsletter-inputsSubmit
	width 30%
	
// Pagina inscripcion =================

.Inscripcion-input
	height 37px
	font-size 16px
	width 100%
	color grey
	margin-top 15px
	margin-right 3%
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	


