.agujasIntradermicas-small,
.amma-small,
.ampuku-small,
.aromaterapia-small,
.champi-small,
.cosmeticaNatural-small,
.crecimientoPersonal-small,
.cyriax-small,
.drenajeLinfatico-small,
.estiramientosThai-small,
.floresBach-small,
.kinergeticsReset-small,
.kinesiologiaIntegrada-small,
.moxibustion-small,
.naturopatia-small,
.piedras-small,
.pindas-small,
.quiromasaje-small,
.quiromasajeSuperior-small,
.reflexologia-small,
.registrosAkashicos-small,
.reiki-small,
.shiatsuFacial-small,
.vendajeNeuromuscular-small
  display inline-block
  background-repeat no-repeat
  background-image url('icons-small.png')

.agujasIntradermicas-small
  background-position 0px 0px
  width 160px
  height 160px

.amma-small
  background-position 0px -160px
  width 160px
  height 160px

.ampuku-small
  background-position 0px -320px
  width 160px
  height 160px

.aromaterapia-small
  background-position 0px -480px
  width 160px
  height 160px

.champi-small
  background-position 0px -640px
  width 160px
  height 160px

.cosmeticaNatural-small
  background-position 0px -800px
  width 160px
  height 160px

.crecimientoPersonal-small
  background-position 0px -960px
  width 160px
  height 160px

.cyriax-small
  background-position 0px -1120px
  width 160px
  height 160px

.drenajeLinfatico-small
  background-position 0px -1280px
  width 160px
  height 160px

.estiramientosThai-small
  background-position 0px -1440px
  width 160px
  height 160px

.floresBach-small
  background-position 0px -1600px
  width 160px
  height 160px

.kinergeticsReset-small
  background-position 0px -1760px
  width 160px
  height 160px

.kinesiologiaIntegrada-small
  background-position 0px -1920px
  width 160px
  height 160px

.moxibustion-small
  background-position 0px -2080px
  width 160px
  height 160px

.naturopatia-small
  background-position 0px -2240px
  width 160px
  height 160px

.piedras-small
  background-position 0px -2400px
  width 160px
  height 160px

.pindas-small
  background-position 0px -2560px
  width 160px
  height 160px

.quiromasaje-small
  background-position 0px -2720px
  width 160px
  height 160px

.quiromasajeSuperior-small
  background-position 0px -2880px
  width 160px
  height 160px

.reflexologia-small
  background-position 0px -3040px
  width 160px
  height 160px

.registrosAkashicos-small
  background-position 0px -3200px
  width 160px
  height 160px

.reiki-small
  background-position 0px -3360px
  width 160px
  height 160px

.shiatsuFacial-small
  background-position 0px -3520px
  width 160px
  height 160px

.vendajeNeuromuscular-small
  background-position 0px -3680px
  width 160px
  height 160px

