.agujasIntradermicas-big,
.amma-big,
.ampuku-big,
.aromaterapia-big,
.champi-big,
.cosmeticaNatural-big,
.crecimientoPersonal-big,
.cyriax-big,
.drenajeLinfatico-big,
.estiramientosThai-big,
.floresBach-big,
.icon-big,
.kinergeticsReset-big,
.kinesiologiaIntegrada-big,
.naturopatia-big,
.piedras-big,
.pindas-big,
.quiromasaje-big,
.quiromasajeSuperior-big,
.reflexologia-big,
.registrosAkashicos-big,
.reiki-big,
.shiatsuFacial-big,
.vendajeNeuromuscular-big
  display inline-block
  background-repeat no-repeat
  background-image url('Untitled.png')

.agujasIntradermicas-big
  background-position 0px 0px
  width 300px
  height 300px

.amma-big
  background-position 0px -300px
  width 300px
  height 300px

.ampuku-big
  background-position 0px -600px
  width 300px
  height 300px

.aromaterapia-big
  background-position 0px -900px
  width 300px
  height 300px

.champi-big
  background-position 0px -1200px
  width 300px
  height 300px

.cosmeticaNatural-big
  background-position 0px -1500px
  width 300px
  height 300px

.crecimientoPersonal-big
  background-position 0px -1800px
  width 300px
  height 300px

.cyriax-big
  background-position 0px -2100px
  width 300px
  height 300px

.drenajeLinfatico-big
  background-position 0px -2400px
  width 300px
  height 300px

.estiramientosThai-big
  background-position 0px -2700px
  width 300px
  height 300px

.floresBach-big
  background-position 0px -3000px
  width 300px
  height 300px

.icon-big
  background-position 0px -3300px
  width 300px
  height 300px

.kinergeticsReset-big
  background-position 0px -3600px
  width 300px
  height 300px

.kinesiologiaIntegrada-big
  background-position 0px -3900px
  width 300px
  height 300px

.naturopatia-big
  background-position 0px -4200px
  width 300px
  height 300px

.piedras-big
  background-position 0px -4500px
  width 300px
  height 300px

.pindas-big
  background-position 0px -4800px
  width 300px
  height 300px

.quiromasaje-big
  background-position 0px -5100px
  width 300px
  height 300px

.quiromasajeSuperior-big
  background-position 0px -5400px
  width 300px
  height 300px

.reflexologia-big
  background-position 0px -5700px
  width 300px
  height 300px

.registrosAkashicos-big
  background-position 0px -6000px
  width 300px
  height 300px

.reiki-big
  background-position 0px -6300px
  width 300px
  height 300px

.shiatsuFacial-big
  background-position 0px -6600px
  width 300px
  height 300px

.vendajeNeuromuscular-big
  background-position 0px -6900px
  width 300px
  height 300px

