.logoNav,
.logoFooter_small,
.logoFooter_big
  display inline-block
  background-repeat no-repeat
  background-image url('Untitled.png')

.logoNav
  background-position 0px 0px
  width 550px
  height 120px

.logoFooter_small
  background-position 0px -120px
  width 200px
  height 200px

.logoFooter_big
  background-position 0px -320px
  width 300px
  height 300px

