
<!-- Sección nuevo evento con fecha (No curso) -->
<section class="NextEvent">
  <div class="u-wrapper">
    <div class="NextEvent-date">
      <span class="NextEvent-dateMonth">OCT</span>
      <span class="NextEvent-dateDay">08</span>
    </div>
    <div class="NextEvent-content">
      <strong class="NextEvent-label">Próximos eventos</strong>
      <h3 class="NextEvent-title">Memorias prenatales</h3>
      <span class="NextEvent-toggle spanLink ">Ver más detalle</span>
      <div class="NextEvent-detail">
        <strong class="NextEvent-timeTitle">Horario:</strong>
        <span class="NextEvent-timeTable">17:30 pm > 21:30 pm</span>
        <p class="NextEvent-description">
          Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales de la industría. Inscríbete hoy al placer de estudiar con las manos.
        </p>
      </div>

    </div>
  </div>
</section>

<!-- Sección de profesores -->
<section class="Teachers NewSection">
  <div class='u-wrapper'>
    <h2 class="Section-title">Profesores</h2>
    <div class="Teacher">
      <div class="Teacher-details">
        <h4 class="Teacher-name">Salva Prats</h4>
        <p class="Teacher-designation">Director de Afic, psicólogo y quiromasagista</p>
      </div>
      <div class="Teacher-img">
        <img src="../static/img/salva.png" alt="" width="200px" height="auto">
      </div>
    </div>
    <div class="Teacher">
      <div class="Teacher-details">
        <h4 class="Teacher-name">Salva Prats</h4>
        <p class="Teacher-designation">Director de Afic, psicólogo y quiromasagista</p>
      </div>
      <div class="Teacher-img">
        <img src="../static/img/salva.png" alt="" width="200px" height="auto">
      </div>
    </div>
    <div class="Teacher">
      <div class="Teacher-details">
        <h4 class="Teacher-name">Salva Prats</h4>
        <p class="Teacher-designation">Co-Director, psicólogo y quiromasagista</p>
      </div>
      <div class="Teacher-img">
        <img src="../static/img/salva.png" alt="" width="200px" height="auto">
      </div>
    </div>
  </div>
</section>

<!-- Next event -->
<section class="NextEvent">
  <div class="u-wrapper">
    <div class="NextEvent-date">
      <span class="NextEvent-dateMonth">OCT</span>
      <span class="NextEvent-dateDay">08</span>
    </div>
    <div class="NextEvent-content">
      <strong class="NextEvent-label">Próximos eventos</strong>
      <h3 class="NextEvent-title">Memorias prenatales</h3>
      <span class="NextEvent-toggle spanLink ">Ver más detalle</span>
      <div class="NextEvent-detail">
        <strong class="NextEvent-timeTitle">Horario:</strong>
        <span class="NextEvent-timeTable">17:30 pm > 21:30 pm</span>
        <p class="NextEvent-description">
          Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales de la industría. Inscríbete hoy al placer de estudiar con las manos.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Form Mainchimp newsletter -->
<section id="mc_embed_signup" class='Newsletter'>
  <div class="Newsletter-form u-wrapper">
    <h4 class='Newsletter-formTitle'>Recibe actualizaciones acerca de nuevos cursos en tu bandeja de entrada</h4>
    <form action="//starapunto.us10.list-manage.com/subscribe/post?u=8e0dd9e77175b89c184ed6349&amp;id=796dfefc99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="Newsletter-formContainer" target="_blank" novalidate>
        <!-- <label for="mce-MMERGE1" class="Newsletter-labelName">Tu nombre</label> -->
        <!-- <label for="mce-EMAIL" lass="Newsletter-labelEmail">Tu email</label> -->
        <div class="Newsletter-inputs">
          <input type="text" placeholder='Tu nombre' value="" name="MMERGE1" class="Newsletter-input input-A" id="mce-MMERGE1">
          <input type="email"  placeholder='Tu email' value="" name="EMAIL" class="Newsletter-input input-A" id="mce-EMAIL">
          <input type="submit" value="Suscríbete" name="Suscríbete" id="mc-embedded-subscribe" class="Newsletter-inputsSubmit btn btn-small btn-Red">
        </div>
        <div class="mailchimpOwn">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_8e0dd9e77175b89c184ed6349_796dfefc99" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
</section>