
<!-- Sección nuevo evento con fecha (No curso) -->
<section class="NextEvent">
  <div class="u-wrapper">
    <div class="NextEvent-date">
      <span class="NextEvent-dateMonth">OCT</span>
      <span class="NextEvent-dateDay">08</span>
    </div>
    <div class="NextEvent-content">
      <strong class="NextEvent-label">Próximos eventos</strong>
      <h3 class="NextEvent-title">Memorias prenatales</h3>
      <span class="NextEvent-toggle spanLink ">Ver más detalle</span>
      <div class="NextEvent-detail">
        <strong class="NextEvent-timeTitle">Horario:</strong>
        <span class="NextEvent-timeTable">17:30 pm > 21:30 pm</span>
        <p class="NextEvent-description">
          Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales de la industría. Inscríbete hoy al placer de estudiar con las manos.
        </p>
      </div>

    </div>
  </div>
</section>

<!-- Sección de profesores -->
<section class="Teachers NewSection">
  <div class='u-wrapper'>
    <h2 class="Section-title">Profesores</h2>
    <div class="Teacher">
      <div class="Teacher-details">
        <h4 class="Teacher-name">Salva Prats</h4>
        <p class="Teacher-designation">Director de Afic, psicólogo y quiromasagista</p>
      </div>
      <div class="Teacher-img">
        <img src="../static/img/salva.png" alt="" width="200px" height="auto">
      </div>
    </div>
    <div class="Teacher">
      <div class="Teacher-details">
        <h4 class="Teacher-name">Salva Prats</h4>
        <p class="Teacher-designation">Director de Afic, psicólogo y quiromasagista</p>
      </div>
      <div class="Teacher-img">
        <img src="../static/img/salva.png" alt="" width="200px" height="auto">
      </div>
    </div>
    <div class="Teacher">
      <div class="Teacher-details">
        <h4 class="Teacher-name">Salva Prats</h4>
        <p class="Teacher-designation">Co-Director, psicólogo y quiromasagista</p>
      </div>
      <div class="Teacher-img">
        <img src="../static/img/salva.png" alt="" width="200px" height="auto">
      </div>
    </div>
  </div>
</section>

<!-- Next event -->
<section class="NextEvent">
  <div class="u-wrapper">
    <div class="NextEvent-date">
      <span class="NextEvent-dateMonth">OCT</span>
      <span class="NextEvent-dateDay">08</span>
    </div>
    <div class="NextEvent-content">
      <strong class="NextEvent-label">Próximos eventos</strong>
      <h3 class="NextEvent-title">Memorias prenatales</h3>
      <span class="NextEvent-toggle spanLink ">Ver más detalle</span>
      <div class="NextEvent-detail">
        <strong class="NextEvent-timeTitle">Horario:</strong>
        <span class="NextEvent-timeTable">17:30 pm > 21:30 pm</span>
        <p class="NextEvent-description">
          Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales de la industría. Inscríbete hoy al placer de estudiar con las manos.
        </p>
      </div>

    </div>
  </div>
</section>