<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Cursos de Naturopatía</title>
    <meta name="description" content="La naturopatía es una terapia basada en el principio de que nuestro cuerpo, correctamente ayudado por herramientas y estímulos precisos que nos brinda la naturaleza, es capaz de llegar a su propio equilibrio.">
    <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
    <link rel="favicon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/estilos.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,200,700,600,400' rel='stylesheet' type='text/css'>
    <script src="../static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <section class="langing">
    <header class="Header">
      <div class="Header-container u-wrapper"> 
        <a href="/" title='EscuelaAfic.com' class="Header-logo">
          <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='81.64px' height='60px'>
        </a>
      </div>
      <div class="MainMenu-icon icon-menu"></div>
      <div class="u-wrapperNoPadding">
        <nav class="MainMenu">
          <ul class="MainMenu-container">
            <li class="MainMenu-option">
              <a href="../#CourseBanner" class="MainMenu-link">Cursos</a>
            </li>
            <li class="MainMenu-option">
              <a href="faq.html" class="MainMenu-link">FAQ</a>
            </li>
            <li class="MainMenu-option">
              <a href="acercaDe.html" class="MainMenu-link">Acerca de</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="Course-mainSection naturopatiaHero">
      <div class="u-wrapper">
        <div class="Course-mainSectionContanier">
          <div class="Course-mainSectionLeft">
            <div class='Course-logoContainer'>
              <img class='Course-logo' src="../static/img/logo/naturopatia-big.png" alt="Curso de Naturopatía" width="146px" height="146px">
            </div>
          </div> 
          <div class="Course-mainSectionDetail">
            <h1 class="Title-A ">Curso de Naturopatía</h1>
            <p class="Course-detail">La naturopatía es una terapia basada en el principio de que nuestro cuerpo, correctamente ayudado por herramientas y estímulos precisos que nos brinda la naturaleza, es capaz de llegar a su propio equilibrio.</p>
          </div>
          <div class="Course-mainSectionCTA">
            <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
          </div>
        </div>
      </div>
    </section>
    <section class='CourseDetails'>
      <div class="u-wrapper">
        <div class="CourseDetails-container">
          <div class="CourseDetails-item duration">
            <h4 class="CourseDetails-title">Duración</h4>
            <p class="CourseDetails-content">3 años</p>
          </div>
          <div class="CourseDetails-item location">
            <h4 class="CourseDetails-title">Curso</h4>
            <p class="CourseDetails-content">Presencial</p>
          </div>
          <div class="CourseDetails-item diploma">
            <h4 class="CourseDetails-title">Consigue tu</h4>
            <p class="CourseDetails-content">Certificado</p>
            <p class="certificate">Diploma de naturopatía</p>
          </div>
        </div>
        <div class="CourseDetails-idealFor">
          <h4 class="idealFor-title">Ideal para</h4>
          <p class="idealFor-detail">Terapeutas naturales/manuales/sanitarios, cualquier tipo de profesionales del ámbito de la salud (quiromasajistas, osteópatas, reflexólogos, acupuntores, fisioterapeutas, médicos, enfermeros, psicólogos, etc.…) Y a toda persona interesada en aprender la profesión de Naturópata.</p>
        </div>
      </div>    
    </section>
    <section class="Learn NewSection">
      <div class="u-wrapper">
        <div class="Learn-listContainer">
          <h2 class="Section-title">Mira todo lo que aprenderás</h2>
          <ul class="Learn-list">
            <li class="List-item"><p>Conocimientos de anatomía y biomecánica del aparato locomotor.</p></li>
            <li class="List-item"><p>Efectos del masaje, Indicaciones y contraindicaciones.</p></li>
            <li class="List-item"><p>Crear las condiciones ideales para tu espacio de trabajo.</p></li>
            <li class="List-item"><p>Materiales y sus aplicaciones para el Quiromasaje.</p></li>
            <li class="List-item"><p>Técnicas y manipulaciones de Quiromasaje por zonas: Espalda, Miembro Inferior, Miembro Superior, Abdomen, Pies, Cervicales, Cráneo-Facial.</p></li>
            <li class="List-item"><p>Masaje relajante.</p></li>
            <li class="List-item"><p>Masaje terapéutico.</p></li>
            <li class="List-item"><p>Masaje anticelulítico y circulatorio.</p></li>
            <li class="List-item"><p>Masaje deportivo.</p></li>
            <li class="List-item"><p>Protocolo de atención, valoración y seguimiento del cliente.</p></li>
            <li class="List-item"><p>Marketing personal.</p></li>
          </ul>
        </div>
        <div class="Learn-img">
          <img src="../static/img/learn.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="Index NewSection">
      <div class="">
        <h2 class="Section-title">Temario del curso</h2>
        <div class="Index-img">
          <img src="../static/img/naturopatia.png" alt="">
        </div>
        <ul class="accordion Index-list" data-accordion>
          <li class="accordion-navigation">
            <a href="#panel1a" class="icon-books"><span>Primer año</span></a>
            <div id="panel1a" class="content active panel1aContainer">
              <ul class="">
                <li class="List-item">Anatomía humana</li>
                <li class="List-item">Fisiología humana</li>
                <li class="List-item">Biología y Bioquímica</li>
                <li class="List-item">Historia de la Medicina</li>
                <li class="List-item">Propedéutica I. Lectura de Analíticas y Radiografías</li>
                <li class="List-item">Kinesiología Integrativa I</li>
                <li class="List-item">Lecturas Reflejas</li>
                <ul>
                  <li class="List-item">Reflexología podal</li>
                  <li class="List-item">Auriculoterapia</li>
                  <li class="List-item">Evaluación por la lengua</li>
                  <li class="List-item">Reflejos espinales</li>
                  <li class="List-item">Reflejos espinales</li>
                </ul>
                <li class="List-item">Medicina Popular</li>
                <li class="List-item">Fitoterapia Científica y Tradicional I</li>
              </ul>
            </div>
          </li>
          <li class="accordion-navigation">
            <a href="#panel2a" class="icon-books"><span>Segundo año</span></a>
            <div id="panel2a" class="content">
              <ul class="">
                <li class="index-item">Psicosomática</li>
                <li class="index-item">Propedéutica II</li>
                <li class="index-item">Patología</li>
                <li class="index-item">Kinesiología Integrativa II</li>
                <li class="index-item">Fitoterapia Científica y Tradicional II</li>
                <li class="index-item">Nutrición y Suplementación</li>
                <li class="index-item">Flores de Bach</li>
                <li class="index-item">Conocimiento de las Técnicas Terapéuticas</li>
              </ul>
            </div>
          </li>
          <li class="accordion-navigation">
            <a href="#panel3a" class="icon-books"><span>Tercer año</span></a>
            <div id="panel3a" class="content">
              <ul class="">
                <li class="index-item">Naturopatía. Tratamientos y Protocolos Naturistas</li>
                <li class="index-item">Sales de Schussler</li>
                <li class="index-item">Aromaterapia</li>
                <li class="index-item">Oligoelementos</li>
                <li class="index-item">Gemoterapia</li>
                <li class="index-item">Farmacología</li>
                <li class="index-item">Primeros auxilios</li>
                <li class="index-item">Moxibustión y Ventosas</li>
                <li class="index-item">Balneoterapia</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="Details NewSection">
      <div class='u-wrapper'>
        <h2 class="Section-title">Detalles del curso</h2>
        <p>Tienes tres opciones diferentes para hacer este curso.</p>
        <div class='tabs-container'>
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a class='menu' href="#panel1">Opc 1</a></li>
            <li class="tab-title"><a class='menu'href="#panel2">Opc 2</a></li>
            <li class="tab-title"><a class='menu'href="#panel3">Opc 3</a></li>
          </ul>
        </div>
        <div class="tabs-content">
          <div class="content active row" id="panel1">
            <div >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, sint ipsa iste aliquid voluptas consectetur eius? Dolores molestias, ea ipsam, corrupti magnam cumque beatae itaque ratione, nulla, tempora assumenda animi?</div>       
          </div>
          <div class="content" id="panel2">
            <div >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, sint ipsa iste aliquid voluptas consectetur eius? Dolores molestias, ea ipsam, corrupti magnam cumque beatae itaque ratione, nulla, tempora assumenda animi?</div> 
          </div>
          <div class="content" id="panel3">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, sint ipsa iste aliquid voluptas consectetur eius? Dolores molestias, ea ipsam, corrupti magnam cumque beatae itaque ratione, nulla, tempora assumenda animi?</div> 
          </div>
        </div>
      </div>
    </section>
    <section class="Teachers NewSection">
      <div class='u-wrapper'>
        <h2 class="Section-title">Profesores</h2>
        <div class="Teacher">
          <div class="Teacher-details">
            <h4 class="Teacher-name">Salva Prats</h4>
            <p class="Teacher-designation">Director de Afic, psicólogo y quiromasagista</p>
          </div>
          <div class="Teacher-img">
            <img src="../static/img/salva.png" alt="" width="200px" height="auto">
          </div>
        </div>
        <div class="Teacher">
          <div class="Teacher-details">
            <h4 class="Teacher-name">Salva Prats</h4>
            <p class="Teacher-designation">Director de Afic, psicólogo y quiromasagista</p>
          </div>
          <div class="Teacher-img">
            <img src="../static/img/salva.png" alt="" width="200px" height="auto">
          </div>
        </div>
        <div class="Teacher">
          <div class="Teacher-details">
            <h4 class="Teacher-name">Salva Prats</h4>
            <p class="Teacher-designation">Co-Director, psicólogo y quiromasagista</p>
          </div>
          <div class="Teacher-img">
            <img src="../static/img/salva.png" alt="" width="200px" height="auto">
          </div>
        </div>
      </div>
    </section>
    <section id='price' class="Price NewSection">
      <div class="u-wrapper">
        <h2 class="Section-title">Precio del curso</h2>
        <div class="Price-logo">
          <img class='' src="../static/img/logo/naturopatia-big.png" alt="Curso de Naturopatía" width="146px" height="146px">
          <div class="Price-logoDetails">
            <h3 class="Price-CourseName">Quiromasaje Presencial</h3>
            <p class="Price-CourseAmount">990<span>€</span></p>
          </div>
        </div>
        <div class="Banner">
          <div class="Banner-A">
            <ul class="Banner-AList">
              <li class="Banner-AItem">Reserva tu plaza por <bold>50<span>€</span></bold></li>
              <li class="Banner-AItem">Y completa el pago del curso en la escuela</li>
              <li class="Banner-AItem">Fraccionando el resto en 8 mensualidades</li>
            </ul>
          </div>
          <div class="InterBanner">
            <div class="InterBannerContainer">
              <span>o</span>
            </div>
          </div>
          <div class="Banner-B">
            <img src="../static/img/precio-ahorro.jpg" alt="" class="BannerB-img">
            <p class="BannerB-save">Estás ahorrando 30€</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="Footer">
      <div class="Footer-container u-wrapper u-clearfix">
        <div class="Footer-columnSmall">
          <div class="Footer-contactList">
            <li class="Footer-contactInfo icon-pin-alt"><p class="Footer-contactInfoDetail">Avda. La Salle, 45 Multioficinas MO Oficinas 8, 10 y 15 43205, Reus, Tarragona</p></li>
            <li class="Footer-contactInfo icon-envelope"><p class="Footer-contactInfoDetail">info@cursosmasajereus.com</p></li>
            <li class="Footer-contactInfo icon-phone"><p class="Footer-contactInfoDetail">680910933</p></li>
          </div>
          <div class="Footer-nav">
            <ul class="Footer-navList">
              <li class="Footer-navLink"><a href="../#CourseBanner">Cursos</a></li>
              <li class="Footer-navLink"><a href="faq.html">FAQs</a></li>
              <li class="Footer-navLink"><a href="acercaDe.html">Acerca de</a></li>
            </ul>
          </div>
        </div>
        <div class="Footer-columnBig">
          <div class="Footer-logo">
            <a href="/" title='EscuelaAfic.com' class="">
              <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='100px' height='auto'>
            </a>
          </div>
          <div class="Footer-extraInfo">
            <p>Asociación de formación y crecimiento personal. Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales en la materia. Inscríbete hoy al placer de estudiar con las manos. </p>
          </div>
          <div class="Footer-cta">
            <div class="Footer-cta">
              <a href="../#CourseBanner" class='MainFooter-cta btn btn-small btn-Red' >Empieza ya</a>
            </div>
          </div>
          <div class="Footer-network">
            <div class="Footer-networkTitle"><h4>Síguenos</h4></div>
            <ul class="Footer-networkList">
              <a target='_blank'href="https://www.facebook.com/pages/AFIC-Associaci%C3%B3-de-Formaci%C3%B3-i-Creixement-Personal/132896806785565?ref=br_rs"><li class="Footer-networkLink icon-facebook"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </section>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61932030-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
