<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Cursos de Naturopatía</title>
    <meta name="description" content="La naturopatía es una terapia basada en el principio de que nuestro cuerpo, correctamente ayudado por herramientas y estímulos precisos que nos brinda la naturaleza, es capaz de llegar a su propio equilibrio.">
    <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
    <link rel="favicon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/estilos.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,200,700,600,400' rel='stylesheet' type='text/css'>
    <script src="../static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <section class="langing">
    <header class="Header">
      <div class="Header-container u-wrapper"> 
        <a href="../" title='EscuelaAfic.com' class="Header-logo">
          <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='104px' height='60px'>
        </a>
      </div>
      <div class="MainMenu-icon icon-menu"></div>
      <div class="u-wrapperNoPadding">
        <nav class="MainMenu">
          <ul class="MainMenu-container">
            <li class="MainMenu-option">
              <a href="../#CourseBanner" class="MainMenu-link">Cursos</a>
            </li>
            <li class="MainMenu-option">
              <a href="faq.html" class="MainMenu-link">FAQ</a>
            </li>
            <li class="MainMenu-option">
              <a href="acercaDe.html" class="MainMenu-link">Acerca de</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="Course-mainSection naturopatiaHero">
      <div class="u-wrapper">
        <div class="Course-mainSectionContanier">
          <div class="Course-mainSectionLeft">
            <div class='Course-logoContainer'>
              <img class='Course-logo' src="../static/img/logo/naturopatia-big.png" alt="Curso de Naturopatía" width="146px" height="146px">
            </div>
          </div> 
          <div class="Course-mainSectionDetail">
            <h1 class="Title-A ">Curso de Naturopatía</h1>
            <p class="Course-detail">La naturopatía es una terapia basada en el principio de que nuestro cuerpo, correctamente ayudado por herramientas y estímulos precisos que nos brinda la naturaleza, es capaz de llegar a su propio equilibrio.</p>
          </div>
          <div class="Course-mainSectionCTA">
            <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
          </div>
        </div>
      </div>
    </section>
    <section class='CourseDetails'>
      <div class="u-wrapper">
        <div class="CourseDetails-container">
          <div class="CourseDetails-item duration">
            <h4 class="CourseDetails-title">Duración</h4>
            <p class="CourseDetails-content">3 años</p>
          </div>
          <div class="CourseDetails-item location">
            <h4 class="CourseDetails-title">Curso</h4>
            <p class="CourseDetails-content">Presencial</p>
          </div>
          <div class="CourseDetails-item diploma">
            <h4 class="CourseDetails-title">Consigue tu</h4>
            <p class="CourseDetails-content">Certificado</p>
            <p class="certificate">Diploma de naturopatía</p>
          </div>
        </div>
        <div class="CourseDetails-idealFor">
          <h4 class="idealFor-title">Ideal para</h4>
          <p class="idealFor-detail">Terapeutas naturales/manuales/sanitarios, cualquier tipo de profesionales del ámbito de la salud (quiromasajistas, osteópatas, reflexólogos, acupuntores, fisioterapeutas, médivos, enfermeros, psicólogos, etc.…) Y a toda persona interesada en aprender la profesión de Naturópata.</p>
        </div>
      </div>    
    </section>
    <section class="Learn NewSection">
      <div class="u-wrapper">
        <div class="Learn-listContainer">
          <h2 class="Section-title">Mira todo lo que aprenderás</h2>
          <ul class="Learn-list">
            <li class="List-item"><p>Conocimientos de anatomía y biomecánica del aparato locomotor.</p></li>
            <li class="List-item"><p>Efectos del masaje, Indivaciones y contraindivaciones.</p></li>
            <li class="List-item"><p>Crear las condiviones ideales para tu espacio de trabajo.</p></li>
            <li class="List-item"><p>Materiales y sus aplicaciones para el Quiromasaje.</p></li>
            <li class="List-item"><p>Técnicas y manipulaciones de Quiromasaje por zonas: Espalda, Miembro Inferior, Miembro Superior, Abdomen, Pies, Cervicales, Cráneo-Facial.</p></li>
            <li class="List-item"><p>Masaje relajante.</p></li>
            <li class="List-item"><p>Masaje terapéutico.</p></li>
            <li class="List-item"><p>Masaje anticelulítico y circulatorio.</p></li>
            <li class="List-item"><p>Masaje deportivo.</p></li>
            <li class="List-item"><p>Protocolo de atención, valoración y seguimiento del cliente.</p></li>
            <li class="List-item"><p>Marketing personal.</p></li>
          </ul>
        </div>
        <div class="Learn-recomended">
          <h3 class="Secundary-title">También te recomendamos saber</h3>
          <ul class="Learn-recomendedList">
            <li class="Learn-recomendedItem">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="naturopatia-small naturopatia-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Naturopatía</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
            <li class="Learn-recomendedItem">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="quiromasaje-small quiromasaje-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Quiromasaje presencial</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
            <li class="Learn-recomendedItem">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="quiromasajeSuperior-small quiromasajeSuperior-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Quiromasaje superior</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
            <li class="Learn-recomendedItem">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="kinesiologiaIntegrada-small kinesiologiaIntegrada-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Kinesiología integral</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="Learn-img"></div>
      </div>
    </section>
    <section class="Index NewSection">
      <div class="empty">
        <h2 class="Section-title">Temario del curso</h2>
        <div class="Index-img">
          <img src="../static/img/material-naturopatia.png" alt="">
        </div>
        <div class="Index-container">
          <div class="List-container">
            <div class="ListOne-toggle Index-listToggle">
              <span>Primer año</span>
              <div class="Index-listToggleIcon">
                <div class="Index-listToggleIconBook"></div>
                <div class="Index-listToggleIconArrow"></div>
              </div>
            </div>
            <ul class="listOne Index-list">
              <li class="List-item">Anatomía humana</li>
              <li class="List-item">Fisiología humana</li>
              <li class="List-item">Biología y Bioquímica</li>
              <li class="List-item">Historia de la Medivina</li>
              <li class="List-item">Propedéutica I. Lectura de Analíticas y Radiografías</li>
              <li class="List-item">Kinesiología Integrativa I</li>
              <li class="List-item">Lecturas Reflejas</li>
              <ul class="Index-intraList">
                <li class="List-item">Reflexología podal</li>
                <li class="List-item">Auriculoterapia</li>
                <li class="List-item">Evaluación por la lengua</li>
                <li class="List-item">Reflejos espinales</li>
                <li class="List-item">Reflejos espinales</li>
              </ul>
              <li class="List-item">Medivina Popular</li>
              <li class="List-item">Fitoterapia Científica y Tradivional I</li>
            </ul>
          </div>
          <div class="List-container">
            <div class="ListTwo-toggle Index-listToggle">
              <span>Segundo año</span>
              <div class="Index-listToggleIcon">
                <div class="Index-listToggleIconBook"></div>
                <div class="Index-listToggleIconArrow"></div>
              </div>
            </div>
            <ul class="listTwo Index-list">
              <li class="List-item">Psicosomática</li>
              <li class="List-item">Propedéutica II</li>
              <li class="List-item">Patología</li>
              <li class="List-item">Kinesiología Integrativa II</li>
              <li class="List-item">Fitoterapia Científica y Tradivional II</li>
              <li class="List-item">Nutrición y Suplementación</li>
              <li class="List-item">Flores de Bach</li>
              <li class="List-item">Conocimiento de las Técnicas Terapéuticas</li></ul>
          </div>
          <div class="List-container">
            <div class="ListThree-toggle Index-listToggle">
              <span>Tercer año</span>
              <div class="Index-listToggleIcon">
                <div class="Index-listToggleIconBook"></div>
                <div class="Index-listToggleIconArrow"></div>
              </div>
            </div>
            <ul class="listThree Index-list">
              <li class="List-item">Naturopatía. Tratamientos y Protocolos Naturistas</li>
              <li class="List-item">Sales de Schussler</li>
              <li class="List-item">Aromaterapia</li>
              <li class="List-item">Oligoelementos</li>
              <li class="List-item">Gemoterapia</li>
              <li class="List-item">Farmacología</li>
              <li class="List-item">Primeros auxilios</li>
              <li class="List-item">Moxibustión y Ventosas</li>
              <li class="List-item">Balneoterapia</li>
          </div>
        </div>
      </div>
    </section>
    <section class="Details NewSection">
      <div class='u-wrapper center'>
        <h2 class="Section-title Section-titleDetails">Detalles del curso</h2>
        <p class="Section-description">Hay tres opciones posibles para realizar este curso.</p>
        <div class='Details-containerTabs'>
          <ul class="Details-list" data-tab >
            <li class=" Details-item active"><a  href="#panel1">1ª</a></li>
            <li class=" Details-item"><a href="#panel2">2ª</a></li>
            <li class=" Details-item"><a href="#panel3">3ª</a></li>
          </ul>
        </div>

        <div class="tabs-content Details-containerContent">

          <div class="content Details-content active" id="panel1">
            <p class="Details-ContentTitle">
              En la 1ª opción puedes escoger entre el grupo A o el grupo B.
            </p>
            <div class="Details-group GroupA">
              <div class="Details-date">
                <div class="Group-calendar Group-itme">
                  <div class="Icon"></div>
                  <div class="Letter">A</div>
                </div>
                <div class="Group-date Group-itme">
                  <span class="Group-dateMonth">Oct</span>
                  <span class="Group-dateDay">08</span>
                </div>
                <div class="Group-divider Group-itme">
                  <span>a</span>
                  <div class="Line"></div>
                </div>
                <div class="Group-date Group-itme">
                  <span class="Group-dateMonth">May</span>
                  <span class="Group-dateDay">17</span>
                </div>
              </div>
              <div class="Detail-time">
                <h4 class="Detail-timeDay">Todos los Miércoles</h4>
                <div class="Detail-time-Content">
                  <p class="Detail-timeItem">Horarios: 17:30 pm > 21:30 pm</p>
                  <p class="Detail-timeItem">Excepto: div 30, ENE 05 y ENE 01</p>
                </div>
              </div>
            </div>
            <div class="Details-group GroupB">
              <div class="Details-date">
                <div class="Group-calendar Group-itme">
                  <div class="Icon"></div>
                  <div class="Letter">B</div>
                </div>
                <div class="Group-date DateLeft Group-itme">
                  <span class="Group-dateMonth">Oct</span>
                  <span class="Group-dateDay">08</span>
                </div>
                <div class="Group-divider Group-itme">
                  <span>a</span>
                  <div class="Line"></div>
                </div>
                <div class="Group-date DateRight Group-itme">
                  <span class="Group-dateMonth">May</span>
                  <span class="Group-dateDay">17</span>
                </div>
              </div>
              <div class="Detail-time">
                <h4 class="Detail-timeDay">Todos los Miércoles</h4>
                <div class="Detail-time-Content">
                  <p class="Detail-timeItem">Horarios: 17:30 pm > 21:30 pm</p>
                  <p class="Detail-timeItem">Excepto: div 30, ENE 05 y ENE 01</p>
                </div>
              </div>
            </div>
            <div class="Details-contentCTA">
              <p class="Details-contentCTA--example">
                A modo de ejemplo, si el grupo B es el que mejor se adapta a ti, entonces la inscripción al curso es en la 1ª opción y el grupo B. ¿Fácil verdad?
              </p>
              <div class="Details-contentCTA--container">
                <h4 class="Details-contentCTA--title"><span>Inscríbete</span> hoy al curso</h4>
                <div class="Details-btn">
                  <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
                </div>
              </div>
            </div>              
          </div>

          <div class="content Details-content " id="panel2">
            <p class="Details-ContentTitle">
              La 2ª opción son clases de fin semana, durante 8 semanas. 
            </p>
            <div class="Details-group">
              <div class="Details-date Details-date2">
                <div class="Group-calendar Group-itme">
                  <div class="Icon"></div>
                  <div class="Letter">|</div>
                </div>
                <div class="Group-date-contaiiner">
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">04/05</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                  <div class=" Group-itmeNext">
                    <span class="Group-dateMonth">Oct</span>
                    <span class="Group-dateDay">11/12</span>
                  </div>
                </div>
              </div>
              <div class="Detail-timeSecond">
                <div class="Detail-time">
                  <h4 class="Detail-timeDay">Todos los Sábados</h4>
                  <div class="Detail-time-Content">
                    <p class="Detail-timeItem">Mañana: 09:00 pm > 14:00 pm</p>
                    <p class="Detail-timeItem">Tarde: 15:00 pm > 18:30 pm</p>
                  </div>
                </div>
                <div class="Detail-time">
                  <h4 class="Detail-timeDay">Todos los Domingos</h4>
                  <div class="Detail-time-Content">
                    <p class="Detail-timeItem">Mañana: 09:00 pm > 14:00 pm</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="Details-contentCTA">
              <div class="Details-contentCTA--container">
                <h4 class="Details-contentCTA--title"><span>Inscríbete</span> hoy al curso</h4>
                <div class="Details-btn">
                  <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
                </div>
              </div>
            </div> 
          </div>

          <div class="content Details-content" id="panel3">
            <p class="Details-ContentTitle">
              La 3ª opción es <b>semipresencial</b> y está compuesta por tres modulos. 
            </p>
            <div class="Details-contentModule--container">
              <div class="Details-contentModule online">
                <h4>Módulo online</h4>
                <p>Acceso a contenido didáctico en Moodle, comunicación entre alumnos y profesores, ejercicios de autoevalucación y mucho más.</p>
              </div>
              <div class="Details-contentModule exam">
                <h4>Examen presencial</h4>
              </div>
              <div class="Details-contentModule presencial">
                <h4>Módulo presencial intensivo:</h4>
                <p>Dos semanas intensivas.</p>
              </div>
            </div>
            <div class="Details-group">
              <div class="Details-date">
                <div class="Group-calendar Group-itme">
                  <div class="Icon"></div>
                  <div class="Letter"></div>
                </div>
                <div class="Group-date DateLeft Group-itme">
                  <span class="Group-dateMonth">Jul</span>
                  <span class="Group-dateDay">06</span>
                </div>
                <div class="Group-divider Group-itme">
                  <span>a</span>
                  <div class="Line"></div>
                </div>
                <div class="Group-date DateRight Group-itme">
                  <span class="Group-dateMonth">Jul</span>
                  <span class="Group-dateDay">16</span>
                </div>
              </div>
              <div class="Detail-time">
                <h4 class="Detail-timeDay">De Lunes a Viernes</h4>
                <div class="Detail-time-Content">
                  <p class="Detail-timeItem">Horarios: 09:00 pm > 15:00 pm</p>
                </div>
              </div>
            </div>
            <div class="Details-contentCTA">
              <div class="Details-contentCTA--container">
                <h4 class="Details-contentCTA--title"><span>Inscríbete</span> hoy al curso</h4>
                <div class="Details-btn">
                  <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
                </div>
              </div>
            </div> 

          </div> 

        </div>
      </div>
    </section>
    <section id='price' class="Price NewSection">
      <div class="u-wrapper">
        <h2 class="Section-title Section-titlePrice">Precio del curso</h2>
        <div class="Price-container">
          <div class="Price-logo">
            <img class='' src="../static/img/logo/naturopatia-big.png" alt="Curso de Naturopatía" width="146px" height="146px">
            <div class="Price-logoDetails">
              <h3 class="Price-CourseName">Quiromasaje Presencial</h3>
              <p class="Price-CourseAmount">990<span>€</span></p>
            </div>
          </div>
          <div class="Banner">
            <div class="Banner-A">
              <ul class="Banner-AList">
                <li class="Banner-AItem">Reserva tu plaza por <bold>50<span>€</span></bold></li>
                <li class="Banner-AItem">Y completa el pago del curso en la escuela</li>
                <li class="Banner-AItem">Fraccionando el resto en 8 mensualidades</li>
              </ul>
            </div>
            <div class="InterBanner">
              <div class="InterBannerContainer">
                <span>o</span>
                <div class="line"></div>
              </div>
            </div>
            <div class="Banner-B">
              <div class="save"></div>
              <p class="BannerB-save">Estás ahorrando 30€</p>
            </div>
          </div>
        </div>
        <div class="Details-contentCTA">
          <div class="Details-contentCTA--container">
            <h4 class="Details-contentCTA--title"><span>Inscríbete</span> hoy al curso</h4>
            <div class="Details-btn">
              <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="Descount">
      <div class="u-wrapper">
        <h3 class="Descount-title">Obtén descuento <span>completando tu formación</span></h3>
        <span class='Descount-seeOfer spanLink'>Ver Oferta</span>
        <div class="Descount-courses">
          <ul class="Descount-list">
            <li class="Descount-item">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="agujasIntradermicas-small agujasIntradermicas-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Agujas intradérmicas</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
            <li class="Descount-item">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="vendajeNeuromuscular-small vendajeNeuromuscular-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Vendaje intramuscular</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
            <li class="Descount-item">
              <div class="CourseList-course CourseList-courseRecomended" >
                <a href="courseTemplate.html" class="CourseList-courseGoblalLink"></a>
                <div class="CourseList-courseData"><div class="cyriax-small cyriax-smallRecomended" width='80px' height='80px'></div></div>
                <div class="CourseList-courseInfo">
                  <h3 class="CourseList-courseTitle Learn-recomendedTitle">Cyriax</h3>
                  <span class="spanLink ">Ver más detalle</span>
                </div>
              </div>
            </li>
          </ul>
          <div class="Descount-PackContainer">
            <div class="Descount-Pack">
              <h4 class="Descount-PackTitle">Pack deportivo A</h4>
              <p class="Descount-PackContent">Elije dos de los cursos del apartado superior y escala tu formación al siguiente nivel.</p>
              <p class="Descount-PackContent">Cada curso por separado cuesta 90€. Con el pack A <b>estás ahorrando 20€</b>.</p>
              <div class="Descount-PackImgA"></div>
            </div>
            <div class="Descount-Pack">
              <h4 class="Descount-PackTitle">Pack deportivo B</h4>
              <p class="Descount-PackContent">Incluye los tres cursos para que te combiertas en un master. Con el pack B <b>estás ahorrando 60€</b>.</p>
              <div class="Descount-PackImgB"></div>
            </div>
          </div>
          <div class="Details-contentCTA ">
            <div class="Details-contentCTA--container Descount-cta">
              <h4 class="Details-contentCTA--title"><span>Inscríbete</span> hoy al curso con un Pack Deportivo</h4>
              <div class="Details-btn">
                <a href="#price" id='MainSection-cta' class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="Footer">
      <div class="Footer-container u-wrapper u-clearfix">
        <div class="Footer-columnSmall">
          <div class="Footer-contactList">
            <li class="Footer-contactInfo icon-pin-alt"><p class="Footer-contactInfoDetail">Avda. La Salle, 45 Multioficinas MO Oficinas 8, 10 y 15 43205, Reus, Tarragona</p></li>
            <li class="Footer-contactInfo icon-envelope"><p class="Footer-contactInfoDetail">info@cursosmasajereus.com</p></li>
            <li class="Footer-contactInfo icon-phone"><p class="Footer-contactInfoDetail">680910933</p></li>
          </div>
          <div class="Footer-nav">
            <ul class="Footer-navList">
              <li class="Footer-navLink"><a href="../#CourseBanner">Cursos</a></li>
              <li class="Footer-navLink"><a href="faq.html">FAQs</a></li>
              <li class="Footer-navLink"><a href="acercaDe.html">Acerca de</a></li>
            </ul>
          </div>
        </div>
        <div class="Footer-columnBig">
          <div class="Footer-logo">
            <a href="/" title='EscuelaAfic.com' class="">
              <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='100px' height='auto'>
            </a>
          </div>
          <div class="Footer-extraInfo">
            <p>Asociación de formación y crecimiento personal. Aprende Quiromasaje, Reflexología, Kinesiología integrativa, Naturopatía y mucho más. Con clases presenciales por profesionales en la materia. Inscríbete hoy al placer de estudiar con las manos. </p>
          </div>
          <div class="Footer-cta">
            <div class="Footer-cta">
              <a href="../#CourseBanner" class='MainFooter-cta btn btn-small btn-Red' >Empieza ya</a>
            </div>
          </div>
          <div class="Footer-network">
            <div class="Footer-networkTitle"><h4>Síguenos</h4></div>
            <ul class="Footer-networkList">
              <a target='_blank'href="https://www.facebook.com/pages/AFIC-Associaci%C3%B3-de-Formaci%C3%B3-i-Creixement-Personal/132896806785565?ref=br_rs"><li class="Footer-networkLink icon-facebook"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </section>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61932030-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
