<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Preguntas frecuentes</title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
    <link rel="favicon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/estilos.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,600,400' rel='stylesheet' type='text/css'>
    <script src="../static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <section class="langing">
    <header class="Header">
      <div class="Header-container u-wrapper acercaDeHeader"> 
        <a href="../" title='EscuelaAfic.com' class="Header-logo">
          <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='81.64px' height='60px'>
        </a>
      </div>
      <div class="MainMenu-icon icon-menu"></div>
      <div class="u-wrapperNoPadding">
        <nav class="MainMenu">
          <ul class="MainMenu-container">
            <li class="MainMenu-option">
              <a href="../#CourseBanner" class="MainMenu-link">Cursos</a>
            </li>
            <li class="MainMenu-option">
              <a href="/" class="MainMenu-link">FAQ</a>
            </li>
            <li class="MainMenu-option">
              <a href="acercaDe.html" class="MainMenu-link">Acerca de</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- <section class="MainSection acercaDeHero">
      <div class="u-wrapper">
        <h1 class="acercaTitle"></h1>
      </div>
    </section> -->
    <section>
      <p>
          <h2>¿Qué validez tienen los títulos y certificados que voy a obtener?</h2>

          La Escuela AFIC colabora con la Fundación Europea de Medicinas Alternativas desde su fundación y mantiene una estrecha relación con el fin de mantenerse al día en relación a los avances de la técnica y la calidad de los servicios que se ofrecen.

          Muchos de nuestros alumnos, a lo largo de los años, ya han creado su propia consulta.
          ¡¡Incluso centros de terapias muy exitosos a pie de calle!! exclusivamente con las titulaciones conseguidas en AFIC. 
          Otros están trabajando en SPAs de lujo y algunos otros tanto en herboristerias, como centros de estética o peluquerías.


          <h2>He encontrado cursos con la misma titulación y con más horas ¿A qué se debe?</h2> 

          Sabemos que tu tiempo es importante, así que no inflamos los cursos con horas perdidas y vacías.

          <h2>¿Porqué vuestros cursos son más baratos?</h2>

          Gracias a que no te hacemos perder el tiempo tampoco nosotros lo perdemos, lo cual nos ayuda a minimizar el precio de los cursos.

          <h2>¿Puedo trabajar con una titulación de AFIC?</h2>

          ¡Por supuesto! Nos encanta ver como cada año, muchos de nuestros alumnos encuentran, gracias a nuestras titulaciones, un lugar en el mercado laboral.

          Reconocimiento Fiscal del Ministerio de Hacienda:
          -Epígrafe 841: “Naturópatas, Acupuntores y otros Parasanitarios”.
          -Epígrafe 839; “Masajistas, Dietistas y Auxiliares de enfermería” (Dentro de estos apartados se inscriben los profesionales que trabajan como profesionales autónomos).

          Reconocimiento Laboral del Ministerio de Trabajo:
          -La ocupación de “Técnico en Medicina Natural” queda reflejada en la nueva clasificación de ocupaciones que hizo el INEM el 27-1-97 con el código definitivo: 31290032 (donde quedarían incluidos Naturópatas, Acupuntores y Técnicos Manuales)

          <h2>Llevo mucho tiempo sin estudiar ¿Necesito conocimientos previos para hacer los cursos? ¿Podré seguir el ritmo de las clases?</h2>

          Solo necesitas ganas de aprender, del resto nos encargamos nosotros.
          Cada temporada llegan personas a nuestra escuela después de años sin "tocar un libro".
          Y por nuestra experiencia, podemos asegurarte que no va a ser un problema para ti.

          <h2>¿De verdad puedo practicar 4 horas semanales a parte del curso que esté haciendo ¡GRATIS! ?</h2>

          Todos los cursos tienen un bloque amplio de prácticas, y además...
          Estamos muy orgullosos del espacio extra y GRATUITO de prácticas al que podrás venir en 2 horarios diferentes a intercambiar tu experiencia de aprendizaje con otros alumnos de los diferentes cursos que la escuela ofrece.

          <h2>¿Son los cursos suficientemente completos?</h2>

          Nuestro equipo de profesionales está comprometido con tu aprendizaje. 
          Para ello creamos temarios teórico/prácticos encarados a tener los conocimientos perfectos para ser aplicados de forma competitiva en el mercado laboral.

          <h2>¿Cuáles son los métodos de pago?</h2>

          Damos la opción de pagar en metálico en nuestra escuela y por transferencia bancaria al número ( )

          <h2>¿Puedo conocer las instalaciones?</h2>

          Por supuesto!! Estamos deseosos de conocerte y poderte enseñar nuestra escuela, que es tu casa.

          <h2>¿Cómo guardo plaza para un curso?</h2>

          Es muy fácil. Haz click en el botón “empieza ya” que encontrarás en la página de cada curso. También puedes llamarnos por teléfono (680 910 933) o enviarnos un mail (info@cursosmasajereus.com) y te ayudamos.

          <h2>¿Que hace la escuela con mis datos?</h2>

          El uso de tus datos personales tendrá carácter confidencial y se utilizarán exclusivamente para poder prestarte nuestros servicios.
          En serio, no daremos tus datos a nadie.

          <h2>¿De verdad que no voy a recibir e-mails molestos?</h2>

          De verdad, los únicos e-mails que vas a recibir, son de novedades de AFIC y puedes cancelar tu subscripción cuando quieras. Tú decides.

          ¿Y si no me va bien el horario de un curso? ¿O los dias en q se hace?

          Haznos llegar tus opciones y las valoraremos encantados. 

          Me encantaria que dieran formación en...

          Nos encantará escuchar tus sugerencias. Y haremos lo imposible para satisfacer tus ganas de aprendizaje. 
          Apórtanos tus ideas en afic@cursosmasajereus.com
      </p>
    </section>
    <footer class="Footer">
      <div class="Footer-container u-wrapper u-clearfix">
        <div class="Footer-columnSmall">
          <div class="Footer-contactList">
            <li class="Footer-contactInfo icon-pin-alt"><p class="Footer-contactInfoDetail">Avda. La Salle, 45 Multioficinas MO Oficinas 8, 10 y 15 43205, Reus, Tarragona</p></li>
            <li class="Footer-contactInfo icon-envelope"><p class="Footer-contactInfoDetail">info@cursosmasajereus.com</p></li>
            <li class="Footer-contactInfo icon-phone"><p class="Footer-contactInfoDetail">680910933</p></li>
          </div>
          <div class="Footer-nav">
            <ul class="Footer-navList">
              <li class="Footer-navLink"><a href="../#CourseBanner">Cursos</a></li>
              <li class="Footer-navLink"><a href="/">FAQs</a></li>
              <li class="Footer-navLink"><a href="acercaDe.html">Acerca de</a></li>
            </ul>
          </div>
        </div>
        <div class="Footer-columnBig">
          <div class="Footer-logo">
            <a href="/" title='EscuelaAfic.com' class="">
              <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='100px' height='auto'>
            </a>
          </div>
          <div class="Footer-extraInfo">
            <p>Asociación de formación y crecimiento personal. Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales en la materia. Inscríbete hoy al placer de estudiar con las manos. </p>
          </div>
          <div class="Footer-cta">
            <a href="#CourseBanner" class='MainFooter-cta btn btn-small btn-Red' >Empieza ya</a>
          </div>
          <div class="Footer-network">
            <div class="Footer-networkTitle"><h4>Síguenos</h4></div>
            <ul class="Footer-networkList">
              <a target='_blank'href="https://www.facebook.com/pages/AFIC-Associaci%C3%B3-de-Formaci%C3%B3-i-Creixement-Personal/132896806785565?ref=br_rs"><li class="Footer-networkLink icon-facebook"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </section>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61932030-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
