<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos de Naturopatía</title>
    <meta name="description" content="La naturopatía es una terapia basada en el principio de que nuestro cuerpo, correctamente ayudado por herramientas y estímulos precisos que nos brinda la naturaleza, es capaz de llegar a su propio equilibrio.">
    <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
    <link rel="favicon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/estilos.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,600,400' rel='stylesheet' type='text/css'>
    <script src="../static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <section class="langing">
    <header class="Header">
      <div class="Header-container u-wrapper"> 
        <a href="/" title='EscuelaAfic.com' class="Header-logo">
          <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='81.64px' height='60px'>
        </a>
      </div>
      <div class="MainMenu-icon icon-menu"></div>
      <div class="u-wrapperNoPadding">
        <nav class="MainMenu">
          <ul class="MainMenu-container">
            <li class="MainMenu-option">
              <a href="../#CourseBanner" class="MainMenu-link">Cursos</a>
            </li>
            <li class="MainMenu-option">
              <a href="" class="MainMenu-link">FAQ</a>
            </li>
            <li class="MainMenu-option">
              <a href="" class="MainMenu-link">Acerca de</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="naturopatiaHero">
      <div class="u-wrapper courseLanding">
        <div class="coursHero-logo">
          <img src="../static/img/logo/naturopatia-big.png" alt="Curso de Quiromasaje presencial" width="146px" height="146px">
        </div>
        <div class="coursContent">
          <h1 class="Title-A ">Curso de Naturopatía</h1>
          <p class="coursContent-detail">La naturopatía es una terapia basada en el principio de que nuestro cuerpo, correctamente ayudado por herramientas y estímulos precisos que nos brinda la naturaleza, es capaz de llegar a su propio equilibrio.</p>
        </div>
        <div class="MainSection-ctaContainer">
          <div class="MainSection-cta"></div>
          <a href="#CourseBanner" onmouseover="this.className='MainSection-cta btn btn-big btn-Green'" onmouseout="this.className='MainSection-cta btn btn-big btn-Red'" class='MainSection-cta btn btn-big btn-Red' >Empieza ya</a>
        </div>
      </div>
    </section>
    <footer class="Footer">
      <div class="Footer-container u-wrapper u-clearfix">
        <div class="Footer-columnSmall">
          <div class="Footer-contactList">
            <li class="Footer-contactInfo icon-pin-alt"><p class="Footer-contactInfoDetail">Avda. La Salle, 45 Multioficinas MO Oficinas 8, 10 y 15 43205, Reus, Tarragona</p></li>
            <li class="Footer-contactInfo icon-envelope"><p class="Footer-contactInfoDetail">info@cursosmasajereus.com</p></li>
            <li class="Footer-contactInfo icon-phone"><p class="Footer-contactInfoDetail">680910933</p></li>
          </div>
          <div class="Footer-nav">
            <ul class="Footer-navList">
              <li class="Footer-navLink"><a href="/">Cursos</a></li>
              <li class="Footer-navLink"><a href="/">FAQs</a></li>
              <li class="Footer-navLink"><a href="/">Acerca de</a></li>
            </ul>
          </div>
        </div>
        <div class="Footer-columnBig">
          <div class="Footer-logo">
            <a href="/" title='EscuelaAfic.com' class="">
              <img src="../static/img/logoSmall.png" alt="EscuelaAfic.com" width='100px' height='auto'>
            </a>
          </div>
          <div class="Footer-extraInfo">
            <p>Asociación de formación y crecimiento personal. Aprende Quiromasaje, Reflexología, Kinesiología Integral, Naturopatía y mucho más. Con clases presenciales por profesionales en la materia. Inscríbete hoy al placer de estudiar con las manos. </p>
          </div>
          <div class="Footer-cta">
            <div class="MainSection-ctaContainer">
              <div class="MainSection-cta"></div>
              <a href="#CourseBanner" onmouseover="this.className='MainSection-cta btn btn-small btn-Green'" onmouseout="this.className='MainSection-cta btn btn-small btn-Red'" class='MainSection-cta btn btn-small btn-Red' >Empieza ya</a>
            </div>
          </div>
          <div class="Footer-network">
            <div class="Footer-networkTitle"><h4>Síguenos</h4></div>
            <ul class="Footer-networkList">
              <a target='_blank'href="https://www.facebook.com/pages/AFIC-Associaci%C3%B3-de-Formaci%C3%B3-i-Creixement-Personal/132896806785565?ref=br_rs"><li class="Footer-networkLink icon-facebook"></li></a>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </section>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>
